svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewbox='0 0 24 24')
  g(transform='translate(0, 0)')
    path(d='M4,5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1V15h2V5a3,3,0,0,0-3-3H5A3,3,0,0,0,2,5V15H4Z' fill='#FFFFFF')
    path(d='M0,17v1a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V17Z' fill='#FFFFFF')
    path(d='M17,10,12,6,7,10v4a1,1,0,0,0,1,1h3V12h2v3h3a1,1,0,0,0,1-1Z' fill='#FFFFFF' data-color='color-2')
