doctype html
html
  include ./includes/head.pug
  
  body
    include ./includes/nav.pug
    include ./includes/plugs.pug

    section.about
      .common-wrapper
        .about-wrapper
          .about-left
            img.about-pic(src="./img/arjan-jassal-sq.jpg")
          .about-right
            .about-bio
              h1.about-heading Hello, I'm Arjan.
              h2.about-subheading I’m a frontend developer based in Vancouver, Canada with over 5 years of experience making simple, fast, clean web experiences.
              p.about-copy
                | I’ve worked at small to medium sized startups and agencies, on a wide array of projects, including apps for some of Canada’s largest financial institutions. I’ve been fortunate enough to wear the hat of a product designer and team lead in addition to engineering user interfaces. As a problem solver, I strive to make a positive difference in peoples lives through the software I help design, build, and ship.
              p.about-copy
                | Outside of the internet, you can find me at the gym, playing Dragonball Legends, or reading about the nature of consciousness.

    script(src='./scripts/index.js')
