doctype html
html(lang="en")
  include ./includes/head.pug

  body
    include ./includes/nav.pug
    include ./includes/email.pug
    main.main
      include ./includes/intro.pug
      include ./includes/projects.pug
      include ./includes/work.pug
      include ./includes/plugs.pug
      include ./includes/footer.pug
    include ./includes/about.pug
    
    script(src='./scripts/index.js')
