---
layout: default
excerpt: I create interactive websites using the latest front-end technologies. I'm passionate about developing fast, usable, and memorable web experiences.
---

<section class="section home">
	<article class="wrapper home__wrapper">
		<h1 class="home__title">I create interactive websites using the latest front-end technologies.
		<p class="small">Right now my portfolio is getting a makeover. In the meantime, checkout my work on <a href="//codepen.io/arjancodes/">CodePen</a> or <a href="https://github.com/ArjanJ">GitHub</a>.</p></h1>
	</article>
</section>

<section class="section projects projects__wrapper">
  {% for post in site.posts %}
    <article class="projects__post">
    	<h1 data-project="{{ post.title }}" class="projects__title">
    		<a href=" {{ post.url }}">
					{{ post.title }}
				</a>
    	</h1>
    </article>
  {% endfor %}
  {% for post in site.posts %}
  <div id="{{ post.title }}" class="section projects__bg">
    <picture>
       <source media="(min-width: 1920px)" srcset="//unsplash.it/1920/1440">
       <source media="(min-width: 1200px)" srcset="//unsplash.it/1285/800">
       <source media="(min-width: 768px)" srcset="//unsplash.it/768/1024">
       <img src="//unsplash.it/1280/800" alt="A photo.">
    </picture>
  </div>
  {% endfor %}
</section>