doctype html
html
  include ./includes/head.pug
  
  body
    include ./includes/intro.pug
    include ./includes/project.pug
    include ./includes/work.pug
    include ./includes/plugs.pug

    script(src='./scripts/index.js')
