.about {
	@include clearfix;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 640px;
	padding: ($base-space * 3) (0);
	position: relative;
	z-index: 1;
	background: $theme-color-1;
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/wov2.png');
		opacity: 0.25;
	}

	&__wrapper {
		max-width: 500px;
		margin: 0 auto;
		padding: (0) ($base-space * 2);
	}

	&__heading {
		@extend %u-heading-3;
		padding: ($base-space) (0);
		position: relative;
		z-index: 1;
		text-align: center;
		letter-spacing: (-$base-space / 18);
		text-shadow: 10px 8px $theme-color-2;
		color: $theme-color-4;
	}

	&__skills {
		margin-bottom: ($base-space * 1.5);
		opacity: 0;
		transform: translate3d(0, 50%, 0);
		@include ease();

		&--active {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	h2 {
		color: $theme-color-4;
	}

	ul li {
		font-size: 1.4rem;
	}

	&__text {
		margin-bottom: ($base-space * 2);
		position: relative;
		z-index: 1;
		color: $theme-color-4;
	}

	&__img {
		opacity: 0;
		transform: scale(0.5);
		@include ease();

		&--active {
			opacity: 1;
			transform: scale(1);
		}

		img {
			max-width: 100%;
			opacity: 0.2;
			height: auto;
		}
	}

	@include bp(small) {

		&__wrapper {
			padding: (0) ($base-space * 2);
		}

		&__text-large {
			font-size: map-get($heading-sizes, 5);
		}
	}

	@include bp(medium) {
		min-height: 100vh;

		&__wrapper {
			max-width: 640px;
			padding: (0) ($base-space * 2);
		}
		
		&__text-large {
			font-size: map-get($heading-sizes, 4);
		}
	}

	@include bp(large) {
		display: flex;
		align-items: center;

		&__wrapper {
			max-width: 680px;
		}

		&__text {
			margin-bottom: ($base-space * 3);
			top: auto;
			left: auto;

			&-large {
				margin-bottom: ($base-space * 2);
				font-size: map-get($heading-sizes, 4);
			}
		}

		&__skills {
			margin-bottom: 0;
		}

		&__img {
			width: $base-space * 20;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(50%, -50%);

			&--active {
				opacity: 1;
				transform: translate(0, -50%);
			}

			img {
				max-width: 100%;
			}
		}
	}
}