.about {
	@include clearfix;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: ($base-space * 3) (0);
	position: relative;
	background: color(red) url('../img/wov.png');
	background-blend-mode: soft-light;

	&__wrapper {
		max-width: 500px;
		margin: 0 auto;
		padding: (0) ($base-space * 2);
	}

	&__heading {
		@extend %u-heading-3;
		padding: ($base-space) (0);
		position: relative;
		z-index: 1;
		text-align: center;
		letter-spacing: (-$base-space / 18);
		text-shadow: 10px 8px $theme-color-2;
		color: $theme-color-4;
	}

	&__text {
		position: relative;
		z-index: 1;
		font-size: map-get($heading-sizes, 6);
		color: $theme-color-4;
	}

	&__img {
		@include ease();

		&--active {
			opacity: 1;
		}

		img {
			max-width: 100%;
			opacity: 0.45;
			height: auto;
		}
	}

	@include bp(small) {

		&__wrapper {
			padding: (0) ($base-space * 2);
		}

		&__text {
			font-size: map-get($heading-sizes, 5);
		}
	}

	@include bp(medium) {

		&__wrapper {
			max-width: 640px;
			padding: (0) ($base-space * 2);
		}
		
		&__text {
			font-size: map-get($heading-sizes, 4);
		}
	}

	@include bp(large) {
		display: flex;
		align-items: center;

		&__wrapper {
			max-width: 680px;
		}

		&__text {
			top: auto;
			left: auto;
			font-size: map-get($heading-sizes, 4);
		}

		&__img {
			width: $base-space * 20;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(0, -50%);

			img {
				max-width: 100%;
			}
		}
	}
}