.work-details {
	$p: &;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: ($base-space);
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	color: color(white);

	&.active {
		visibility: visible;

		#{$p}__fade {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	&.hide {

		#{$p}__fade {
			transform: translate3d(0, 50%, 0);
			opacity: 0;
		}
	}

	&.theme-1,
	&.theme-4 {
		
		#{$p}__title,
		#{$p}__intro h2,
		#{$p}__intro h3 {
			color: $theme-color-4;
		}

		p,
		ul li {
			color: color(black);
		}

		code {
			background: rgba($theme-color-4, 0.1);
			color: $theme-color-4;
		}

		#{$p}__link {
			color: $theme-color-4;
		}

		#{$p}__close {
			background: $theme-color-4;

			svg {
				fill: color(white);
			}

			&:hover {
				background: $theme-color-3;

				svg {
					fill: $theme-color-1;
				}
			}
		}

		#{$p}__btn {
			color: $theme-color-4;
			border: 4px solid $theme-color-4;
			box-shadow: 6px 6px $theme-color-4;

			&:hover {
				box-shadow: 0 0 $theme-color-4;
				background: $theme-color-4;
				color: $theme-color-1;
			}
		}
	}

	&__fade {
		transform: translate3d(0, 50%, 0);
		opacity: 0;
		@include ease();

		@for $i from 1 through 4 {
			&:nth-of-type(#{$i}) {
				transition-delay: $i * 0.1s;
			}
		}
	}

	&__wrapper {
		max-width: calc(900px);
		margin: 0 auto;
		padding: (0) ($base-space * 1.5);
	}

	&__header {
		min-height: ($base-space * 8);
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		text-align: center;
	}

	&__close {
		border: none;
		position: fixed;
		z-index: 1;
		top: $base-space;
		right: $base-space;
		$size: 40px;
		width: $size;
		height: $size;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: $theme-color-1;
		border-radius: 50%;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		@include ease();

		svg {
			margin: 0 auto;
			fill: color(white);
		}

		&:hover {
			background: $theme-color-2;

			svg {
				fill: $theme-color-4;
			}
		}

		&:focus {
			outline: none;
		}
	}

	&__title {
		letter-spacing: (-$base-space / 16);
		font-size: map-get($heading-sizes, 3);
		margin: 0;
	}

	&__intro {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: ($base-space);

		p,
		ul li {
			font-size: 1.4rem;
		}

		ul li {
			font-weight: 700;
		}
	}

	&__left {
		flex: 1;

		h2 {
			@extend %u-heading-5;
			letter-spacing: (-$base-space / 30);
		}

		p {
			font-weight: 700;
		}
	}

	&__right {
		flex: 2;
		margin-bottom: ($base-space);

		h2 {
			@extend %u-heading-4;
			letter-spacing: (-$base-space / 26);
		}
	}

	&__btn {
		width: ($base-space * 4);
		margin-right: ($base-space / 2);
		margin-bottom: 0;
		padding: ($base-space / 4) (0);
		text-align: center;
		font-weight: 700;
		font-size: 90%;
		background: none;
		@include ease('out', .25);
		color: $theme-color-1;
		border: 4px solid $theme-color-1;
		box-shadow: 6px 6px $theme-color-1;

		&:hover {
			box-shadow: 0 0 $theme-color-1;
			background: $theme-color-1;
			color: $theme-color-4;
		}
	}

	&__link {
		color: $theme-color-1;
		font-weight: 700;
		text-decoration: underline;
	}

	code {
		background: rgba($theme-color-1, 0.1);
		color: $theme-color-1;
		font-weight: 700;
	}

	@include bp(small) {

		&__title {
			font-size: map-get($heading-sizes, 2);
			letter-spacing: (-$base-space / 14);
		}

		&__btn {
			width: ($base-space * 4.5);
			font-size: 100%;
		}
	}

	@include bp(medium) {

		&__header {
			min-height: 300px;
		}

		&__intro {
			display: flex;
			flex-direction: row;
		}

		&__close {
			top: $base-space * 2;
			right: $base-space * 2;
		}

		&__right {
			margin-left: ($base-space * 2);
			margin-bottom: 0;

			h2 {
				@extend %u-heading-3;
				letter-spacing: (-$base-space / 24);
			}
		}
	}

	@include bp(large) {

		&__title {
			font-size: map-get($heading-sizes, 1);
			letter-spacing: (-$base-space / 8);
		}
	}
}