.home {
	@include clearfix;
	display: flex;
	align-items: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: $theme-color-4 url('../img/wov.png');
	background-blend-mode: soft-light;
	background-attachment: fixed;

	&__wrapper {
		max-width: 500px;
		margin: 0 auto;
		padding: (0) ($base-space * 2);
	}

	&__heading {
		margin: 0;
		font-size: ($base-space * 1.25);
		letter-spacing: (-$base-space / 20);
		will-change: transform, opacity;
		transform: translateY(0);
		opacity: 1;
	}

	@include bp(xsmall) {

		&__heading {
			font-size: ($base-space * 1.25);
		}
	}

	@include bp(small) {

		&__wrapper {
			padding: (0) ($base-space * 2);
		}

		&__heading {
			font-size: ($base-space * 1.5);
			letter-spacing: (-$base-space / 18);
		}
	}

	@include bp(medium) {

		&__wrapper {
			max-width: 640px;
			padding: (0) ($base-space * 2);
		}

		&__heading {
			font-size: ($base-space * 2);
			letter-spacing: (-$base-space / 16);
		}
	}

	@include bp(large) {

		&__wrapper {
			max-width: calc(800px + #{$base-space * 6});
			padding: (0) ($base-space * 3);
		}

		&__heading {
			font-size: ($base-space * 2.75);
			letter-spacing: (-$base-space / 12);
		}
	}
}