.home {
	@include clearfix;
	display: flex;
	align-items: center;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: ($base-space * 4) (0) ($base-space * 1.5);
	background: $theme-color-4;
	color: color(white);

	&__bg {
		display: block;
		@include cover;
		width: 200%;
		z-index: -1;
		background: $theme-color-4 url('../img/wov2.png');
		opacity: 0.12;
		transform: translate3d(-50%, 0, 0);
		animation: bgscroll 80s linear infinite;
		@include ease();

		&:before {
			content: "";
			@include cover;
			display: block;
			z-index: 1;
			opacity: 0.2;
			background: linear-gradient(90deg, white, black, white, black, white, black, white, black, white, black, white);
		}
	}

	@keyframes bgscroll {
		to {
			transform: translate3d(00%, 0, 0);
		}
	}

	&__wrapper {
		max-width: 500px;
		margin: 0 auto;
		padding: (0) ($base-space * 2);
		will-change: transform, opacity;
		transform: translateY(0);
		opacity: 1;
	}

	&__heading {
		font-size: ($base-space * 1.25);
		letter-spacing: (-$base-space / 20);
	}

	&__link {
		color: $theme-color-1;
		font-weight: 700;
		position: relative;
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		@include ease();

		&:before {
			content: "";
			display: block;
			@include cover;
			z-index: -1;
			background: $theme-color-1;
			transform: scaleX(0);
			transform-origin: left center;
			will-change: transform;
			@include ease();
		}

		&:hover {
			color: $theme-color-4;

			&:before {
				transform: scaleX(1);
			}
		}
	}

	@include bp-custom(360px) {
		padding: 0;
	}

	@include bp(xsmall) {

		&__heading {
			font-size: ($base-space * 1.25);
		}
	}

	@include bp(small) {

		&__wrapper {
			padding: (0) ($base-space * 2);
		}

		&__heading {
			font-size: ($base-space * 1.5);
			letter-spacing: (-$base-space / 18);
		}
	}

	@include bp(medium) {

		&__wrapper {
			max-width: 640px;
			padding: (0) ($base-space * 2);
		}

		&__heading {
			font-size: ($base-space * 2);
			letter-spacing: (-$base-space / 16);
		}
	}

	@include bp(large) {

		&__wrapper {
			max-width: calc(800px + #{$base-space * 6});
			padding: (0) ($base-space * 3);
		}

		&__heading {
			font-size: ($base-space * 2.75);
			letter-spacing: (-$base-space / 12);
		}
	}
}