@import "home";
@import "work";
@import "work-item";
@import "about";
@import "details";

.main {
	overflow-x: hidden;
	margin-bottom: ($base-space * 5);

	@include bp(large) {
		margin-bottom: ($base-space * 10);
	}
}