.work {
	@include clearfix;
	display: flex;
	flex-direction: column;
	min-height: 640px;
	padding: ($base-space) (0);
	position: relative;
	z-index: 2;
	background: $theme-color-3;

	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/wov2.png');
		opacity: 0.2;
	}

	&__wrapper {
		@include clearfix;
		padding: (0) ($base-space);
	}

	&__heading {
		@extend %u-heading-3;
		padding: ($base-space) (0);
		position: relative;
		text-align: center;
		letter-spacing: (-$base-space / 18);
		text-shadow: 10px 8px $theme-color-4;
	}

	&__list {
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;
	}

	@keyframes enter {
		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	@include bp(medium) {
		min-height: 100vh;
	}
}