.work__item {
	$p: &;
	$background-opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 205px;
	width: 100%;
	padding: ($base-space * 1.25) (0);
	position: relative;
	z-index: 1;
	transform: scale(0.5);
	opacity: 0;
	will-change: transform, opacity;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	@include ease();
	@include shadow(1);

	&--active {
		animation: enter .35s $ease-out;
		animation-fill-mode: forwards;
	}
	
	&:nth-child(1) {
		background: rgba($theme-color-1, $background-opacity);

		#{$p}-heading {
			color: $theme-color-4;
		}

		#{$p}-tagline {
			color: $theme-color-4;
		}
	}

	&:nth-child(2) {
		background: rgba($theme-color-3, $background-opacity);
		animation-delay: .1s;

		#{$p}-tagline {
			color: $theme-color-1;
		}
	}

	&:nth-child(3) {
		background: rgba($theme-color-4, $background-opacity);

		#{$p}-heading {
			color: $theme-color-1;
		}

		#{$p}-tagline {
			color: $theme-color-1;
		}
	}

	&:nth-child(4) {
		background: rgba($theme-color-2, $background-opacity);
		animation-delay: .1s;

		#{$p}-heading {
			color: $theme-color-4;
		}

		#{$p}-tagline {
			color: $theme-color-4;
		}
	}

	&-wrapper {
		max-width: 400px;
		margin: 0 auto;
		padding: (0) ($base-space);
		text-align: center;
	}

	&-heading {
		display: inline-block;
		font-size: map-get($heading-sizes, 3);
		letter-spacing: (-$base-space / 16);
		@include ease();
	}

	&-tag {
		font-size: 1.2rem;
		font-weight: 700;
		background: $theme-color-4;
		color: $theme-color-1;
		padding: ($base-space / 4) ($base-space / 2);
		border-radius: 6px;
		@include ease();
	}

	&-bg {
		@include cover;
		z-index: -2;
		background: inherit;
		@include ease('out', .6);
	}

	&-tagline {
		font-size: 1.3rem;
		@include ease();

		&.hide {
			opacity: 0;
			transform: translate3d(0, 50%, 0);
		}
	}

	&:hover {
		z-index: 2;
		@include shadow(4);
	}

	&.active {
		z-index: 2;
	}

	@include bp(small) {
		min-height: 25vh;

		&-heading {
			font-size: map-get($heading-sizes, 2);
			letter-spacing: (-$base-space / 14);
		}
	}

	@include bp(medium) {
		height: auto;

		&-tagline {
			font-size: map-get($heading-sizes, 6);
			margin-bottom: 0;
		}

		&-tag {
			position: absolute;
			bottom: $base-space;
			left: $base-space;
		}
	}

	@include bp(large) {
		min-height: calc(50vh - #{$base-space});
		width: 50%;

		&-heading {
			font-size: map-get($heading-sizes, 1);
			letter-spacing: (-$base-space / 8);
		}
	}
}