/*------------------------------------*\
    #COMPONENTS - CSS-ICONS
\*------------------------------------*/

.c-icon {
	display: inline-block;
}

.c-icon--chevron {
	position: relative;
	margin-bottom: 5px;
  padding: 1.5px 6px;
  text-align: center;

  &:before {
		content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 50%;
	  background: white;
	  transform: skew(0deg, 35deg);
  }

  &:after {
  	content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  width: 50%;
	  background: white;
	  transform: skew(0deg, -35deg);
  }
}