/*------------------------------------*\
    #COMPONENTS - OVERLAY
\*------------------------------------*/

// Purple overlay when menu is open.
.c-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($primary-color, 0.85);
	opacity: 0;
	transform: translateX(-150%) skew(-20deg) scaleX(1.5);
	@include ease-out-normal;

	&.c-overlay--active {
		transform: translateX(0) skew(-20deg) scaleX(1.5);
		opacity: 1;
	}
}