/*------------------------------------*\
    #UTILS - VARIABLES
\*------------------------------------*/

/**
* Global Variables
*/

// Spacing
$spacing-fluid: 				4%;
$spacing-fixed: 				1.5rem;
$line-height: 					1.6;

// Font family
$font-heading: 					'Source Sans Pro', 'Arial', sans-serif;
$font-text:							'Source Sans Pro', 'Arial', sans-serif;

// Font weights
$font-weight-black: 		900;
$font-weight-bold:  		700;
$font-weight-semibold:  600;
$font-weight-normal:  	400;
$font-weight-light:  		300;

// Font sizing
$font-xsmall: 					1.6;
$font-small: 						1.8;
$font-normal: 					2.0;
$font-medium: 					2.2;
$font-large: 						2.8;
$font-xlarge: 					3.6;
$font-xxlarge: 					4.8;
$font-xxxlarge: 				6.0;
$font-massive: 					7.6;
$font-giant: 						9.4;

// Colors
$black: 								lighten(black, 10);