/*------------------------------------*\
    #UTILS - Z-INDEX
\*------------------------------------*/

$zindex: (
	header: 				10,
	home-overlay: 	-1,
	home-content: 	1.0,
	hamburger: 			15,
	logo: 					15
);

@function z($label) {
    @return map-get($zindex, $label);
}

.header {
	z-index: z(header);
}

.header__hamburger {
	z-index: z(hamburger);
}

.header__logo {
	z-index: z(logo);
}

.home {
	z-index: z(home-content);

	&:before {
		z-index: z(home-overlay);
	}
}