 /****************

	Home style

****************/

/* Logo and date */

.home {
	@extend %wrapper;
	position: relative;
	z-index: 2;
	height: 730px;
	overflow: hidden;

	@media (min-height: 1024px) {
			height: 1024px;
		}

		@media (max-width: 320px) {
			height: 568px;
		}

	h1 {
		margin-top: $base-spacing-unit;
	}

	.void-logo {
		width: 550px;
		
		@media (max-width: 768px) {
			width: 450px;
		}
		@media (max-width: 568px) {
			width: 400px;
		}
		@media (max-width: 320px) {
			width: 275px;
		}
	}

	.void-date {
		max-width: 105px;
		padding-top: $base-spacing-unit /2;

		@media (max-width: 568px) {
			width: 85px;
		}
		@media (max-width: 320px) {
			width: 60px;
		}
	}
}

/* particles */

.particle-container {
	transform-style: preserve-3d;
	transform-origin: center center;
	perspective: 100px;
	margin-top: -805px;
	margin-bottom: $base-spacing-unit*3;
	width: 100%;
	height: 730px;
	z-index: -100;
	overflow: hidden;

	@media (min-height: 1024px) {
		margin-top: -955px;
	}
	@media (max-width: 320px) {
		margin-top: -705px;
	}
}

@keyframes move {
	100% {
    transform: translate3d(0, 0, -1000px) scale(0.1);
    opacity: .7;
  }
}

.particle {
	position: absolute;
	left: 170px;
	z-index: -5;
	width:$base-spacing-unit;
	height: $base-spacing-unit;
	background: $main-black;
	border-radius: 50%;
	opacity: 1;
	transform: translate3d(0, 0, 0px) scale(2);
	animation: move 30s infinite;

	@media (max-width: 768px) {
		left: 55px;
	}

	@media (max-width: 568px) {
		left: -55px;
	}
}

@for $i from 1 through 100 {
	.particle:nth-child(#{$i}) {
		$size: random($base-spacing-unit)+2em;
		width: $size;
		height: $size;
		animation-delay: -$i * .6s;
		transform: translate3d( (random(1000) * 1px),  (random(1000) * 1px), (random(1000) * 1px));
	}
}
