/****************

	Lineup style

****************/

.lineup {
	@extend %wrapper;
	&:before {
		@include x-divider;
	}
}

.artists {
	margin-bottom: $base-spacing-unit *2;

	li {
		display: inline-block;
		padding: $base-spacing-unit/1.5;
		font-size: $h5-size;
		transition: all .3s ease-in-out;

		&:hover {
			transform: scale(1.3);
		}

		@media (max-width: 768px) {
			font-size: $h6-size;
			padding: $base-spacing-unit/2;
			&:hover {
				transform: scale(1);
			}
		}

		@media (max-width: 568px) {
			display: block;
			font-size: $h4-size;
		}
	}
}