 /****************

	Page

****************/

*, *:before, *:after {
	box-sizing: border-box;
 }


html {
	font-size: $base-font-size;
	font-family: $main-font;
	font-weight: 300;
	background: $main-white;
	color: $main-black;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

%wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: $base-spacing-unit*6 $base-spacing-unit;

	@media (max-width: 568px) {
		padding: $base-spacing-unit*4 $base-spacing-unit;
	}
	@media (max-width: 320px) {
		padding: $base-spacing-unit*3 $base-spacing-unit;
	}
}

%no-side-wrapper {
	padding: $base-spacing-unit*6 0;
	@media (max-width: 568px) {
		padding: $base-spacing-unit*4 0;
	}
	@media (max-width: 320px) {
		padding: $base-spacing-unit*3 0;
	}
}

ul, li {
	margin: 0;
	padding: 0;
	text-align: center;
}

button {
	display: block;
	text-transform: uppercase;
}