/*------------------------------------*\
    #LAYOUT - HEADER
\*------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	padding: ($spacing-fixed * 4) (0) (0);
	backface-visibility: hidden;
	will-change: transform;
	@include ease-out-normal;

	&--active {
		.header__logo {
			// fill: $primary-color;
		}
	}
}

.header__wrapper {
	@include align-children(both);
	justify-content: space-between;
}

.header__logo {
	flex: 2;

	> svg {
		position: relative;
		fill: white;
		height: 30px;
		@include ease-out-normal;
	}
	
}

.header__hamburger {
	position: relative;
}