/*------------------------------------*\
    #LAYOUT - HEADER
\*------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	padding: ($spacing-fixed * 4) (0) (0);
	backface-visibility: hidden;
}

.header__wrapper {
	@include align-children(both);
	justify-content: space-between;
}

.header__logo {
	fill: white;
	height: 4.5vh;
}