/*------------------------------------*\
    #LAYOUT - NAVIGATION
\*------------------------------------*/

.nav {
	will-change: transform, opacity;
	transform-origin: 70% center;
	opacity: 0;
	transform: translate3d(60px, 0%, 0) scaleX(0.4);
	@include ease-out-fast;

	&--active {
		opacity: 1;
		transform: translate3d(0, 0%, 0) scaleY(1);
	}

	&__list {

	}

	&__item {
		display: inline-block;
	}

	&__link {
		margin-right: $spacing-fixed * 1.5;
		font-weight: $font-weight-normal;
		@include font-size(2);
		color: white;
		@include ease-out-slow;

		&:hover {
			opacity: 0.7;
		}
	}
}