/*------------------------------------*\
    #PAGES - DEFAULT
\*------------------------------------*/

#body {
	opacity: 0;
}

.main {
	@include cf;
	min-height: 100vh;
	background: black;
}

.section {
	@include cf;
}