/*------------------------------------*\
    #PAGES - HOME
\*------------------------------------*/

.home {
	min-height: 100vh;
	background: #F44336;
	color: white;

	&:before {
		// @include cover--pseudo;
		// background: rgba(black, 0.8);
	}
}

.home__wrapper {
	min-height: inherit;
	@include align-children(both);
	flex-direction: column;
}

// .home__title {
// 	// text-transform: uppercase;
// 	// letter-spacing: 3px;
// 	max-width: 800px;
// }

.home__subtitle {
	margin-top: 0;
	max-width: 768px;

	@include medium {
		font-size: 24px;
	}
}

// @include xlarge {
// 	.home {
// 		background: url('//unsplash.it/1280/800') center/cover;
// 	}
// }

// @include large {
// 	.home {
// 		background: url('//unsplash.it/960/1024') center/cover;
// 	}
// }

// @include medium {
// 	.home {
// 		background: url('//unsplash.it/768/1024') center/cover;
// 	}
// }

.projects {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: black;
	color: white;
}

.projects__wrapper {
	@include align-children(both);
	flex-direction: column;
	min-height: inherit;
	margin: 0 auto;
	padding-top: 30px;
}

.projects__post {
	text-align: center;
	z-index: 1;
}

.projects__title {
	margin: 0;
	padding: $spacing-fixed 0;
	opacity: 0.2;
	@include ease-out-normal;

	> a {
		font-weight: $font-weight-light;

		&:hover {
			opacity: 1;
		}
	}
}

.projects__bg {
	will-change: transform, opacity;
	@include cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	opacity: 0;
	// transform: translate3d(-100%, 0, 0);
	@include ease-out-slow;

	&--show {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	&--hide {
		animation: hide .65s ease;
	}

	picture {
		width: 100%;
	}
}

@for $i from 1 through 6 {
  .projects__bg {
  	&:nth-of-type(#{$i}) {
      background: hsl(1, 100%, random(40));
    }
  }
}

@keyframes hide {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
	}

	99% {
		transform: translate3d(0, 0, 0) scale(0.7);
	}

	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}