/*------------------------------------*\
    #PAGES - POST
\*------------------------------------*/

.post {
	background: white;
	color: $black;
}

.post-header {
	@include align-children(both);
	min-height: 100vh;
	background: url('//unsplash.it/1490/700') center/cover;
	color: white;

	&--project-1 {
		background: url('//unsplash.it/1500/700') center/cover;
	}

	&--project-2 {
		background: url('//unsplash.it/1600/700') center/cover;
	}

	&--project-3 {
		background: url('//unsplash.it/1500/800') center/cover;
	}

	&--project-4 {
		background: url('//unsplash.it/1505/705') center/cover;
	}

	&--project-5 {
		background: url('//unsplash.it/1500/710') center/cover;
	}

	&--project-6 {
		background: url('//unsplash.it/1520/710') center/cover;
	}
}

.post-header__title {
	margin: 0;
	font-size: 4.5vw;
	font-weight: $font-weight-light;
	color: white;
}

.post-nav {
	display: flex;
	@include ease-slow;
}

.post-nav__link {
	@include align-children(both);
	width: 50vw;
	padding: ($spacing-fixed * 3) (0);
	background: white;
	color: $black;
	@include font-size(2);
	font-weight: $font-weight-normal;

	> svg {
		@include ease-out-normal;
	}

	&:first-child {
		left: 0;
		border-right: 1px solid darken(white, 15);

		> svg {
			margin-right: ($spacing-fixed * 4);
		}

		&:hover {

			> svg {
				transform: translateX(-$spacing-fixed);
			}
		}
	}

	&:last-child {
		right: 0;

		> svg {
			margin-left: ($spacing-fixed * 4);
		}

		&:hover {

			> svg {
				transform: translateX($spacing-fixed);
			}
		}
	}
}

.post-content {
	text-align: center;
	padding-bottom: $spacing-fixed * 2;

	&__wrapper {
		@include align-children(vertical);
		flex-flow: column wrap;
	}

	&__text {
		max-width: 640px;
		margin: ($spacing-fixed * 6) (auto);
	}

	&__images {
		overflow: hidden;

		img {
			margin: (0) (auto) ($spacing-fixed * 3);
			width: 100%;

			&:first-child {
				margin-top: 0;
			}

			&.img__half {
				@include column(1/2, $gutter: $spacing-fixed * 3);
				@include cycle(2);
			}
		}
	}
}