/*------------------------------------*\
    #COMPONENTS - HAMBURGER
\*------------------------------------*/

.c-hamburger {
	cursor: pointer;
	// padding: ($spacing-fixed) ($spacing-fixed / 1.5);
	@include ease-out-slow;

	&__patty {
		will-change: transform, opacity;
		width: 30px;
		height: 3px;
		margin: 0 0 5px 0;
		background: white;
		opacity: 1;
		transform: translate(0) rotate(0deg);
		@include ease-out-fast;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--close {
		transform: rotateY(180deg);
		.c-hamburger__patty {
			// background: $primary-color;
		}

		.c-hamburger__patty:nth-child(1) {
			transform: translate(0px, 9px) rotate(-45deg) scale(1, 1);
		}

		.c-hamburger__patty:nth-child(2) {
			transform: scaleX(0);
		}

		.c-hamburger__patty:nth-child(3) {
			transform: translate(0px, -7.5px) rotate(45deg) scale(1, 1);
		}
	}
}