/*------------------------------------*\
    #MIXINS - BUTTONS
\*------------------------------------*/

@mixin c-btn {
	display: inline-block;
	width: auto;
	margin: $spacing-fixed / 2 0;
	padding: $spacing-fixed;
	font-weight: $font-weight-normal;
	@include font-size(1.6);
	text-align: center;
	color: $button-text-color;
	background: white;
	@include ease-out-normal;

	&:hover {
		background: darken(white, 10);
	}
}

@mixin c-btn--primary {
	background: $accent-color;

	&:hover {
		background: darken($accent-color, 14);
	}
}