/*------------------------------------*\
    #MIXINS - CLEARINGS
\*------------------------------------*/

@mixin cf { 
  *zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin clear($clear-side) {
	clear: $clear-side;
}

// auto || hidden to trigger block-formatting context
@mixin block-format($overflow: auto) {
  overflow: $overflow;
  *zoom: 1;
}