.footer {
	padding: ($space * 4) (0);
	color: $purple;

	&__link {
		display: inline-block;
		padding: ($space / 6) ($space / 4);
		color: $purple;
		font-weight: 700;
		transition: color .1s ease-out;

		&:hover {
			color: $red;
		}
	}
}