.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: ($space) (0);
	z-index: 100;
	backface-visibility: hidden;
	background: white;
	will-change: padding;
	transition: all .1s ease-out;

	&__wrapper {
		max-width: 800px;
		padding: (0) ($space * 2);
		margin: 0 auto;
		width: 100%;
	}

	@media screen and (min-width: 600px) {
		padding: ($space * 2) (0);
	}

	&--scrolled {
		padding: ($space) (0);
	}
}