.nav {

	&__link {
		padding: (0) ($space / 1.5);
		position: relative;
		font-size: 1.8rem;
		letter-spacing: 2px;
		color: white;
		text-transform: uppercase;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateX(0) scaleX(0);
			height: 2px;
			width: 100%;
			background: white;
			transition: all .2s ease-out;
		}

		&:first-child {
			padding-left: 0;

			&:before {
				transform: translateX(-$space / 3) scaleX(0);
			}

			&:hover {

				&:before {
					transform: translateX(-$space / 3) scaleX(0.9);
				}
			}
		}

		&:hover {

			&:before {
				transform: translateX(0) scaleX(0.9);
			}
		}
	}
}