/****************

	Nav

****************/

/* hamburger */

.hamburger {
	position: fixed;
	z-index: 10;
	top: $base-spacing-unit;
	right: $base-spacing-unit;
	cursor: pointer;
	border-bottom: 12px double $main-black; 
    border-top: 4px solid $main-black; 
    height: 20px; 
    width: 22px;
    background: $main-white;
    box-shadow: 0 0 0 7px $main-white;
    transition: all .3s ease-in-out;

    &:hover {
    	opacity: .6;
    }
}

/* close "x" */

.close-nav {
	position: absolute;
	z-index: 100;
	cursor: pointer;
	right: $base-spacing-unit/4;
	top: 0;
	font-size: $huge-size;
	color: $main-white;
	opacity: .7;
	transition: all .3s ease-in-out;

	 &:hover {
    	opacity: 1;
    }
}

/* menu */

.nav {
	transform-style: preserve-3d;
	transform: translate3d(0,-50%,0);
	visibility: hidden;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0,0,0,.9);
	transition: all .25s ease-out;

	ul {
		@include center;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			margin: $base-spacing-unit 0;
			font-size: $h2-size;

			@media (max-height: 568px) {
				margin: $base-spacing-unit 0;
				font-size: $h4-size;
			}
			@media (max-width: 320px) {
				font-size: $h5-size;
			}

			a {
				color: $main-white;
				transition: all .2s ease-in-out;

				&:hover {
					background: $main-white;
				}
			}
		}
	}
}

.show-nav {
	transform: translate3d(0,0%,0);
	visibility: visible;
	z-index: 50;
	opacity: 1;
}