/****************

	Type

****************/

.h1 { font-size: $h1-size; }
.h2 { font-size: $h2-size; }
.h3 { font-size: $h3-size; }
.h4 { font-size: $h4-size; }
.h5 { font-size: $h5-size; }
.h6 { font-size: $h6-size; }

h1,
h2,
h3,
h4,
h5,
h6,
p, a {
	margin-top: $base-spacing-unit / 8;
	margin-bottom: $base-spacing-unit /2;
	font-weight: 300;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	 text-transform: uppercase;
}

h1,h2 {
	font-weight: 500;
}

p {
	font-size: $p-size;
}

a {
	font-size: $p-size;
	color: $main-black;
	text-decoration: none;
	text-transform: uppercase;
}
