.work-group(data-color="#75cac3" data-expanded="false" data-sal="slide-up" data-sal-delay="80" data-sal-duration="600" data-sal-easing="ease-out-cubic")
  header.work-group-header
    h2.work-group-name Ettrics
    include ../icons/add-icon.pug
  .work-group-content
    .work-group-info
      .work-group-info-block
        h3.work-group-info-heading When
        p.work-group-info-value 2015/2016
      .work-group-info-block
        h3.work-group-info-heading Role
        p.work-group-info-value Frontend Developer
    .work-group-body
      p.work-group-body-copy
        | Ettrics was my first real taste of being a frontend developer on a team with backend engineers
        | and product designers. It was at Ettrics that I started as Web Designer and ended as a Frontend Developer. 
        | The key moment during this evolution was when I picked up <strong>Angular.js</strong>
        | and started to intract with <strong>RESTful APIs</strong> that the backend devs were building.
        | This way of working on the frontend was totally different than the static websites I was used to building, and I loved it.
      h3.work-group-info-heading Highlights
      ul.work-group-highlights
        li.work-group-highlight <strong>Working remotely</strong> and communicating with people through Slack
        li.work-group-highlight Started building apps with JavaScript instead of marketing websites
        li.work-group-highlight Someone showed me how to use Git properly