.work-group.js-scroll(data-color="#28ABE1" data-expanded="false")
    header.work-group-header
      h2.work-group-name(data-name="Grow") <span>Grow</span>
      include ../icons/add-icon.pug
    .work-group-content
      .work-group-info
        .work-group-info-row
          .work-group-info-block
            h3.work-group-info-heading When
            p.work-group-info-value 2016/2018
          .work-group-info-block
            h3.work-group-info-heading Role
            p.work-group-info-value Sr. Frontend Engineer, Team Lead
        .work-group-info-row
          .work-group-info-block
            h3.work-group-info-heading Website
            p.work-group-info-value
              a(href="https://www.poweredbygrow.com" target="_blank" rel="noopener") poweredbygrow.com
      .work-group-body
        p.work-group-body-copy
          | I joined Grow's team of 4 engineers while the company was still focused on a direct-to-consumer model.
          | At the time, Grow's competition was banks and credit unions across Canada. Shortly after joining, Grow pivoted
          | to a SaaS model, and now their competition were customers. This brought a slew of challenges to the
          | engineering team, like making our existing product white-labeled and modular so that it could be highly scalable
          | across all customers. As you could imagine, a lot of discussions around what to refactor to
          | fit this new business model were had, along with what to rewrite from a blank slate and the pros and cons
          | of each option.
        p.work-group-body-copy
          | The next 2 years were spent utilizing <strong>React</strong>, <strong>Redux</strong>, <strong>Styled Components</strong>, and
          | many other great tools in the JavaScript ecosystem to build the UI that powered Grow's
          | modular products. I also helped build out the frontend team by <strong>interviewing</strong> countless candidates
          | and taking part in refining Grow's interview process.
        p.work-group-body-copy
          | Grow also didn't have any product designers, so myself and another frontend engineer designed all
          | products and old marketing websites. This was a fun but challenging responsibilty because we had to
          | thinking about the UX, UI, and code, so there was a lot of context switching, but also a lot of
          | great experience wearing those different hats. 
        h3.work-group-info-heading Highlights
        ul.work-group-highlights
          li.work-group-highlight Architecting a modular white-labeled UI
          li.work-group-highlight Shipping with some of Canada's largest banks and credit unions
          li.work-group-highlight Experiencing a <strong>leadership</strong> role and <strong>mentoring</strong> junior team members
          li.work-group-highlight <strong>Interviewing</strong> many engineers and understanding how hard interviewing is
          li.work-group-highlight Speaking about how we use React at <strong>Vancouver Startup Week</strong>