.work-group.js-scroll(data-color="#1D4287" data-expanded="false")
  header.work-group-header
    h2.work-group-name(data-name="PerfectMind") <span>PerfectMind</span>
    include ../icons/add-icon.pug
  .work-group-content
    .work-group-info
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading When
          p.work-group-info-value 2014/2015
        .work-group-info-block
          h3.work-group-info-heading Role
          p.work-group-info-value Web Designer
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading Website
          p.work-group-info-value
            a(href="https://www.perfectmind.com/" target="_blank" rel="noopener") perfectmind.com
    .work-group-body
      h3.work-group-info-heading Highlights
      ul.work-group-highlights
        li.work-group-highlight Created new themes for in-house CMS to replace old outdated themes
        li.work-group-highlight Taught co-workers modern tools (at the time) like Gulp, SCSS, etc...
      p.work-group-body-copy
        | PerfectMind offered me my first real job in the industry as a Web Designer, but it wasn't quite what I had imagined.
        | I was part of a small web team that pumped out websites from a few depressing templates that looked like they were
        | designed in 1999. Along with outdated designs, the tech being used to build the websites was just as old. To sum it up,
        | it was just plain old HTML and CSS.
      p.work-group-body-copy
        | I saw this as a great opportunity to introduce the team to things like build tools, and pre-processors to make
        | development easier and more effective. Being able to split your HTML, and CSS into different files and then process
        | them into a single file was pretty cool back then, and it made website development a lot easier. The team was receptive
        | to using these new tools, so that was cool. The next thing I focused on was creating new website templates that looked
        | more modern and up to date with what I know about design and user experience, along with adding some spice using JavaScript.
