.work-group.js-scroll(data-color="#0061FF" data-expanded="false")
  header.work-group-header
    h2.work-group-name(data-name="Taloflow") <span>Taloflow</span>
    include ../icons/add-icon.pug
  .work-group-content
    .work-group-info
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading When
          p.work-group-info-value 2018/2019
        .work-group-info-block
          h3.work-group-info-heading Role
          p.work-group-info-value Sr. Frontend Engineer
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading Website
          p.work-group-info-value
            a(href="https://taloflow.ai" target="_blank" rel="noopener") taloflow.ai
    .work-group-body
      p.work-group-body-copy
        | I joined Taloflow's tight-knit team as their first frontend engineer.
        | Part of my role was to decide what tech to use, how to structure things, and to get an MVP up and running
        | a.s.a.p. Like most startups, trade-offs and prioritization were key when it came to shipping on time.
      p.work-group-body-copy
        | With that in mind, I choose to use tech I was very familiar with like <strong>React</strong>, <strong>Styled Components</strong>, and <strong>Firebase</strong>,
        | and <em>some</em> tech I'd never used but wanted to, like <strong>TypeScript</strong>.
        | This way I could still progress quickly and keep things interesting by learning something new.
      h3.work-group-info-heading Highlights
      ul.work-group-highlights
        li.work-group-highlight Building a themed dashboard with <strong>TypeScript</strong> and Styled Components
        li.work-group-highlight Using <strong>gRPC protocol</strong> on the web for client-server communication
        li.work-group-highlight Utilizing Node.js to build a <strong>Slack</strong> a integration
        li.work-group-highlight Collaborating with amazing backend engineers and product designers