/*------------------------------------*\
    #MIXINS - ALIGNMENTS
\*------------------------------------*/

@mixin center-inline {
	text-align: center;
}

@mixin center-block {
	display: block;
	margin: 0 auto;
}

@mixin left-block {
	display: block;
	margin: 0 auto 0 0;
}

@mixin right-block {
	display: block;
	margin: 0 0 0 auto;
}

@mixin absolute-center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin absolute-center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin float($side) {
	float: $side;
}