/*------------------------------------*\
    #MIXINS - BUTTONS
\*------------------------------------*/

@mixin c-btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: auto;
	height: auto;
	padding: ($spacing-fixed) ($spacing-fixed * 3);
	text-align: center;
	font-weight: $font-weight-normal;
	box-shadow: inset 0 0 0 2px $black;
	overflow: hidden;
	@include ease-out-normal;

	&:before {
		@include cover--pseudo;
		z-index: -1;
		background: $black;
		transform: scale(1);
		@include ease-out-normal;
	}

	&:hover {
		color: $black;

		&:before {
			opacity: 0;
		}
	}
}