/*------------------------------------*\
    #MIXINS - TRANSITIONS
\*------------------------------------*/

@mixin ease-in-fast {
	transition: all .25s ease-in;
}

@mixin ease-in-normal {
	transition: all .35s ease-in;
}

@mixin ease-in-slow {
	transition: all .45s ease-in;
}

@mixin ease-fast {
	transition: all .25s ease-in-out;
}

@mixin ease-normal {
	transition: all .35s ease-in-out;
}

@mixin ease-slow {
	transition: all .45s ease-in-out;
}

@mixin ease-out-fast {
	transition: all .35s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin ease-out-normal {
	transition: all .45s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin ease-out-slow {
	transition: all .55s cubic-bezier(0.23, 1, 0.32, 1);
}