.c-hamburger {
	$p: &;
	$width: $base-space * 1.25;
	$height: 3px;
	$color: $theme-color-1;

	display: inline-block;
	appearance: none;
	width: $width;
	margin: 0 0 0 ($base-space * 1.25);
	border-radius: 0;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	background: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;

	&__patty {
		display: block;
		width: 100%;
		height: $height;
		margin-bottom: $height * 2;
		background: $color;
		@include shadow(1);
		will-change: transform;
		@include ease('in-out');

		&:last-child {
			margin-bottom: 0;
			width: 68%;
		}
	}

	&:focus,
	&:active {
		outline: none;
	}

	&--close {

		#{$p}__patty {			

			&:nth-child(1) {
				transform: rotate(45deg) translate(7px, 6px);
			}

			&:nth-child(2) {
				transform: scaleX(0);
			}

			&:nth-child(3) {
				transform: rotate(-45deg) translate(7px, -6px);
				width: 100%;
			}
		}
	}
}