@import "vars";

.u-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: (0) ($space);

	@media (min-width: 400px) {
		padding: (0) ($space * 2);
	}

	@media (min-width: 800px) {
		max-width: 800px;
	}
}