.u-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: (0) ($base-space * 1.5);

	@media (min-width: 400px) {
		padding: (0) ($base-space * 2);
	}

	@media (min-width: 800px) {
		max-width: 800px;
	}

	@media (min-width: 900px) {
		max-width: 900px;
	}
}