@import "../abby/abby";

/**
 *
 * RESUME
 *
 */

.resume {
	@include clearfix;
	min-height: 100vh;
	padding: ($base-space * 3) (0);
	background: $theme-color-4;

	&__header {
		margin-bottom: ($base-space * 2.5);
		color: color(white);

		&-links {
			
		}

		&-link {
			display: inline-block;
			margin-right: ($base-space / 2);
			color: white;
			font-size: 1.4rem;
			@include ease();

			&:hover {
				color: $theme-color-1;
			}
		}
	}

	&__section {
		@include clearfix;
		margin-bottom: ($base-space);
		color: $theme-color-1;

		&-title {
			@extend %u-heading-3;
		}

		&-subtitle {
			@extend %u-heading-5;

			a { color: $theme-color-1; }
		}

		&-text {
			color: color(white);

			a {
				color: $theme-color-1;
			}
		}
	}

	&__list {
		margin-left: $base-space;

		li {
			color: color(white);
			font-size: 1.4rem;
		}
	}
}

/**
 *
 * UTILS
 *
 */

.u-wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: (0) ($base-space);

	@include bp(medium) {
		padding: (0) ($base-space * 2);
	}
}