/*------------------------------------*\
    #THEME - MAIN
\*------------------------------------*/

.panel--intro {
    z-index: 2;
    background:rgba(147, 115, 191, 0.93);
}

.bg-p-40{
    background:rgba(147, 115, 191, 0.4);
}
.bg-p-80{
    background:rgba(147, 115, 191, 0.8);
}
.bg-p-90{
    background:rgba(147, 115, 191, 0.9);
}
.panel--intro--pitch {
}

.panel--intro--img {
	margin: $spacing-fixed * 2 0;

	img {
		max-width: 450px;
		width: 100%;
	}
}

.panel--form {

	.panel__heading {
		margin-top: 0;
	}
}

.testimonial {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: $spacing-fixed / 2 0;
	text-align: center;
	background: $primary-color-light;

	.testimonial__testimonial {
		@include font-size(1.4);
		font-family: $font-heading;
	}

	.testimonial__name {
		@include font-size(1.4);
		font-weight: $font-weight-normal;
		color: black;
	}
}

.contact__flag {
	max-width: 380px;
	background: darken(white, 10);
}

.contact__flag--title {
	display: block;
	@include font-size(2.4);
	color: $black;
}

.contact__flag--subtitle {
	@include font-size(1.6);
	letter-spacing: 3px;
	color: lighten($black, 20);
}

.contact__flag--brand {
	@include font-size(1.4);
	font-weight: $font-weight-normal;
	text-align: right;
	color: $primary-color;
}