/*------------------------------------*\
    #THEME - MENU
\*------------------------------------*/

.menu {
	@include align-children(both);
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100vh;
	min-width: 50vw;
	background: transparent;
	transform: translateX(150%);
	@include ease-out-normal;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background: $primary-color-dark;
		transform: skew(-20deg) translate(0);
	}

	&.menu--open {
		transform: translateX(0);
	}

	@include medium {
		width: 100%;
		text-align: center;
		background: $primary-color-dark;

		&:before {
			display: none;
		}
	}
}

.menu__list {
	width: 90%;
}

.menu__item {
	margin-bottom: $spacing-fixed;

	$i: 24px;

	&:nth-child(6) {
		margin-left: $i;
	}

	&:nth-child(5) {
		margin-left: $i * 2;
	}

	&:nth-child(4) {
		margin-left: $i * 3;
	}

	&:nth-child(3) {
		margin-left: $i * 4;
	}

	&:nth-child(2) {
		margin-left: $i * 5;
	}

	&:nth-child(1) {
		margin-left: $i * 6;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include medium {

		&:nth-child(n) {
			margin-left: 0;
		}
	}
}

.menu__link {
	display: inline-block;
	@include font-size(3.6);
	font-weight: $font-weight-light;
	color: white;
	opacity: 0;
	transform: translate(900px, 0);
	@include ease-out-normal;

	&.menu__link--active {
		opacity: 1;
		transform: translate(0);
	}

	@include medium {
		@include font-size(2.4);
	}
}

@for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) .menu__link {
      transition-delay: $x * .1s;
    }
  }