section.about(aria-modal="true" aria-labelledby="dialog1Title" role="dialog")
  .common-wrapper
    .about-wrapper
      .about-left
        .about-bio
          h2.about-subheading(id="dialog1Title")
            | Hi I'm Arjan. I'm passionate about building the best user interfaces.
          p.about-copy
            | I’ve worked at small to medium sized startups on a wide variety of projects, 
            | including apps for some of Canada’s largest financial institutions,
            | as well as companies in the Bay Area.
            | As a problem solver, I strive to make a positive difference in peoples lives through the software
            | I help design, build, and ship.
          p.about-copy.about-plug
            | <strong>Get in touch at <a href="mailto:hello@arjanjassal.com">hello@arjanjassal.com</a></strong>
      .about-right
        img.about-pic(loading="lazy" alt="Arjan's smiling face." src="./img/arjan-jassal-min.png")
  button.about-btn(type="button" id="about-btn-close") Close
