section.about(aria-modal="true" aria-labelledby="dialog1Title" role="dialog")
  .common-wrapper
    .about-wrapper
      .about-left
        .about-bio
          h2.about-subheading(id="dialog1Title")
            | My name is Arjan and I’m a frontend engineer currently based in Vancouver.
            | I have over 8 years of experience building websites and apps.
          p.about-copy
            | I’ve worked at small to medium sized startups and agencies, on a wide array of projects, 
            | including apps for some of Canada’s largest financial institutions.
            | As a problem solver, I strive to make a positive difference in peoples lives through the software
            | I help design, build, and ship.
          p.about-copy.about-plug
            | <strong>Get in touch at <a href="mailto:hello@arjanjassal.com">hello@arjanjassal.com</a></strong>
      .about-right
        img.about-pic(loading="lazy" alt="Arjan's smiling face." src="./img/arjan-jassal-sq-min.jpg")
  button.about-btn(type="button" id="about-btn-close") Close
