section.about(aria-modal="true" aria-labelledby="dialog1Title" role="dialog")
  .common-wrapper
    .about-wrapper
      .about-left
        .about-bio(data-sal="slide-down" data-sal-duration="1000" data-sal-easing="ease-out-cubic")
          h2.about-subheading(id="dialog1Title")
            | My name is Arjan and I’m a frontend developer from Vancouver, Canada.
            | I have over 5 years of experience making simple, fast, clean, web experiences.
          p.about-copy
            | I’ve worked at small to medium sized startups and agencies, on a wide array of projects, 
            | including apps for some of Canada’s largest financial institutions. I’ve been fortunate enough
            | to wear the hat of a product designer and team lead in addition to engineering user interfaces.
            | As a problem solver, I strive to make a positive difference in peoples lives through the software
            | I help design, build, and ship.
          p.about-copy
            | Outside of the internet, you can find me at the gym, playing Dragonball Legends, enjoying a cold beer,
            | or reading about the nature of reality.
          p.about-copy.about-plug
            | <strong>Get in touch at <a href="mailto:hello@arjanjassal.com">hello@arjanjassal.com</a></strong>
      .about-right
        img.about-pic(load="lazy" alt="Arjan's smiling face." src="./img/arjan-jassal-sq-min.jpg" data-sal="slide-up" data-sal-duration="1000" data-sal-easing="ease-out-cubic")
  button.about-btn(type="button" id="about-btn-close") Close