.credits
  ul.credits-list
    li.credits-list-item
      p.credits-name Visual Studio Code
      p.credits-name Netlify
      p.credits-name Figma
      p.credits-name Parcel
      p.credits-name Sal
      p.credits-name SVG.js
