<svg width="720" height="611" viewBox="0 0 720 611" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M579.224 49.7287C585.534 49.7287 590.648 44.6141 590.648 38.305C590.648 31.9959 585.534 26.8813 579.224 26.8813C572.915 26.8813 567.801 31.9959 567.801 38.305C567.801 44.6141 572.915 49.7287 579.224 49.7287Z" fill="#F1F1F1"/>
<path d="M511.871 491.793C518.18 491.793 523.295 486.679 523.295 480.37C523.295 474.061 518.18 468.946 511.871 468.946C505.562 468.946 500.447 474.061 500.447 480.37C500.447 486.679 505.562 491.793 511.871 491.793Z" fill="#F1F1F1"/>
<path d="M227.74 159.664C234.049 159.664 239.164 154.55 239.164 148.241C239.164 141.931 234.049 136.817 227.74 136.817C221.431 136.817 216.316 141.931 216.316 148.241C216.316 154.55 221.431 159.664 227.74 159.664Z" fill="#F1F1F1"/>
<path d="M121.548 610.065C188.678 610.065 243.097 602.092 243.097 592.258C243.097 582.424 188.678 574.452 121.548 574.452C54.4191 574.452 0 582.424 0 592.258C0 602.092 54.4191 610.065 121.548 610.065Z" fill="#F1F1F1"/>
<path d="M185.757 463.723L216.272 454.164C214.583 441.473 210.728 429.167 204.874 417.781L174.359 427.34C181.52 438.147 185.472 450.762 185.757 463.723Z" fill="#6C63FF"/>
<path d="M112.412 234.699C128.147 234.699 140.902 221.943 140.902 206.209C140.902 190.474 128.147 177.719 112.412 177.719C96.6774 177.719 83.9219 190.474 83.9219 206.209C83.9219 221.943 96.6774 234.699 112.412 234.699Z" fill="#2F2E41"/>
<path d="M81.6772 563.226L76.2578 586.451H89.4191L94.8385 560.129L81.6772 563.226Z" fill="#9F616A"/>
<path d="M145.162 563.226V584.903L158.323 586.452V563.226H145.162Z" fill="#9F616A"/>
<path d="M77.8066 317.032C77.8066 317.032 79.355 350.323 80.9034 352.645C82.4518 354.968 96.3873 388.258 96.3873 388.258L103.355 366.581C103.355 366.581 92.5163 348.774 94.0647 338.71C95.6131 328.645 94.6376 316.26 94.6376 316.26L77.8066 317.032Z" fill="#9F616A"/>
<path d="M121.935 236.516C133.907 236.516 143.613 226.811 143.613 214.839C143.613 202.867 133.907 193.161 121.935 193.161C109.963 193.161 100.258 202.867 100.258 214.839C100.258 226.811 109.963 236.516 121.935 236.516Z" fill="#9F616A"/>
<path d="M104.129 217.161C104.129 217.161 104.903 248.129 99.484 252.774C94.0646 257.419 130.452 253.548 130.452 253.548C130.452 253.548 122.71 231.871 128.903 227.226C135.097 222.581 104.129 217.161 104.129 217.161Z" fill="#9F616A"/>
<path d="M132.774 252C132.774 252 128.129 243.484 121.935 244.258C115.741 245.032 95.6124 246.581 94.8382 248.129C94.0641 249.677 91.7415 255.097 90.1931 256.645C88.6447 258.193 77.0318 260.516 76.2576 269.806C75.4834 279.097 104.129 335.613 104.129 335.613C104.129 335.613 100.258 348.774 101.032 351.871C101.806 354.968 97.1608 364.258 97.935 368.129C98.7092 372 86.3221 395.226 92.5157 425.419V474.194C92.5157 474.194 71.6124 558.581 77.806 564.774C83.9995 570.968 104.903 567.097 108.774 564.774C112.645 562.452 128.903 445.548 128.903 445.548L136.645 406.064L137.419 492.774C137.419 492.774 135.871 565.548 141.29 567.871C146.709 570.194 167.612 570.968 169.161 566.323C170.368 562.7 176.285 466.306 178.831 424.052C179.713 409.467 178.566 394.83 175.422 380.561C172.2 365.946 167.522 348.775 162.193 341.806C152.129 328.645 145.935 286.839 145.935 286.839L159.096 262.839C159.096 262.839 151.354 255.097 146.709 255.097C142.064 255.097 132.774 252 132.774 252Z" fill="#2F2E41"/>
<path d="M80.9029 264.387L76.8201 267.166C76.8201 267.166 73.9352 317.032 76.2577 320.129C78.5803 323.226 94.7279 321.715 95.9444 318.986C97.161 316.258 80.9029 264.387 80.9029 264.387Z" fill="#2F2E41"/>
<path d="M144.387 310.839C144.387 310.839 145.161 343.355 149.806 352.645C154.451 361.935 171.483 400.645 171.483 400.645C171.483 400.645 170.495 443.25 179.118 432.786C187.742 422.322 182.322 397.548 182.322 397.548L167.613 340.258C167.613 340.258 159.871 314.71 160.645 306.968C161.419 299.226 144.387 310.839 144.387 310.839Z" fill="#9F616A"/>
<path d="M158.323 572.361C158.323 572.361 159.097 571.742 161.42 574.064C163.743 576.387 169.936 579.484 169.162 588C168.388 596.516 163.743 598.064 163.743 598.064V595.742H161.42V599.613C161.42 599.613 157.549 612 139.743 604.258C139.743 604.258 138.968 598.064 139.743 594.193C140.517 590.323 140.517 571.742 142.839 572.516C145.162 573.29 151.355 574.064 152.904 577.161C154.452 580.258 159.097 579.173 158.323 572.361Z" fill="#2F2E41"/>
<path d="M78.581 573.135C78.581 573.135 77.8068 572.516 75.4842 574.839C73.1616 577.161 66.9681 580.258 67.7423 588.774C68.5165 597.29 73.1616 598.839 73.1616 598.839V596.516H75.4842V600.387C75.4842 600.387 79.3552 612.774 97.1616 605.032C97.1616 605.032 97.9358 598.839 97.1616 594.968C96.3874 591.097 96.3874 572.516 94.0649 573.29C91.7423 574.064 85.5487 574.839 84.0004 577.935C82.452 581.032 77.8068 579.947 78.581 573.135Z" fill="#2F2E41"/>
<path d="M148.258 260.516L159.097 262.839C159.097 262.839 159.097 279.871 162.194 286.839C165.291 293.806 170.71 310.065 168.387 310.839C166.065 311.613 144.387 322.452 142.839 316.258C141.291 310.065 137.42 260.516 148.258 260.516Z" fill="#2F2E41"/>
<path d="M81.5488 197.187C97.2835 197.187 110.039 184.431 110.039 168.697C110.039 152.962 97.2835 140.206 81.5488 140.206C65.8141 140.206 53.0586 152.962 53.0586 168.697C53.0586 184.431 65.8141 197.187 81.5488 197.187Z" fill="#2F2E41"/>
<path d="M56.9735 192.288C60.6611 194.954 64.9332 196.697 69.4326 197.372C73.932 198.048 78.5278 197.636 82.8355 196.172C87.1431 194.707 91.0373 192.232 94.1923 188.954C97.3473 185.675 99.6713 181.689 100.97 177.329C100.479 181.236 99.1824 185 97.1631 188.381C95.1439 191.763 92.4454 194.689 89.2382 196.975C86.031 199.261 82.3846 200.858 78.5293 201.663C74.674 202.469 70.6935 202.467 66.8392 201.656C62.9849 200.846 59.3404 199.246 56.1359 196.956C52.9314 194.666 50.2364 191.736 48.2211 188.353C46.2059 184.969 44.9141 181.204 44.4274 177.295C43.9407 173.387 44.2695 169.42 45.3933 165.645C44.7551 170.717 45.4935 175.866 47.531 180.554C49.5685 185.242 52.8301 189.295 56.9735 192.288Z" fill="#2F2E41"/>
<path d="M104.815 231.85C116.353 231.85 125.708 222.496 125.708 210.957C125.708 199.418 116.353 190.064 104.815 190.064C93.2759 190.064 83.9219 199.418 83.9219 210.957C83.9219 222.496 93.2759 231.85 104.815 231.85Z" fill="#2F2E41"/>
<path d="M122.384 217.605C132.611 217.605 140.902 211.121 140.902 203.122C140.902 195.124 132.611 188.64 122.384 188.64C112.156 188.64 103.865 195.124 103.865 203.122C103.865 211.121 112.156 217.605 122.384 217.605Z" fill="#2F2E41"/>
<path d="M127.323 224.181C129.264 224.181 130.838 221.397 130.838 217.962C130.838 214.528 129.264 211.744 127.323 211.744C125.382 211.744 123.809 214.528 123.809 217.962C123.809 221.397 125.382 224.181 127.323 224.181Z" fill="#A0616A"/>
<path d="M710.433 135.672L314.48 16.7721L218.96 334.869L614.913 453.768L710.433 135.672Z" fill="#F1F1F1"/>
<path d="M473.16 109.853L566.946 147.761" stroke="#3F3D56" stroke-width="2" stroke-miterlimit="10"/>
<path d="M475.543 117.646L476.947 116.991L473.71 110.076L480.843 107.353L480.289 105.906L471.602 109.225L475.543 117.646Z" fill="#3F3D56"/>
<path d="M559.816 151.709L559.262 150.262L566.394 147.54L563.157 140.624L564.562 139.969L568.503 148.392L559.816 151.709Z" fill="#3F3D56"/>
<path d="M520.053 137.323C524.757 137.323 528.569 133.51 528.569 128.807C528.569 124.103 524.757 120.291 520.053 120.291C515.35 120.291 511.537 124.103 511.537 128.807C511.537 133.51 515.35 137.323 520.053 137.323Z" fill="#3F3D56"/>
<path d="M466.014 372.659L552.416 320.052" stroke="#3F3D56" stroke-width="2" stroke-miterlimit="10"/>
<path d="M473.689 375.4L474.001 373.881L466.522 372.351L468.595 365.002L467.103 364.583L464.58 373.533L473.689 375.4Z" fill="#3F3D56"/>
<path d="M551.326 328.129L549.834 327.709L551.908 320.362L544.428 318.83L544.741 317.312L553.85 319.18L551.326 328.129Z" fill="#3F3D56"/>
<path d="M509.215 354.871C513.919 354.871 517.732 351.059 517.732 346.355C517.732 341.652 513.919 337.839 509.215 337.839C504.512 337.839 500.699 341.652 500.699 346.355C500.699 351.059 504.512 354.871 509.215 354.871Z" fill="#3F3D56"/>
<path d="M357.457 205.97L357.488 307.128" stroke="#3F3D56" stroke-width="2" stroke-miterlimit="10"/>
<path d="M351.127 211.102L352.261 212.158L357.457 206.564L362.657 212.155L363.79 211.099L357.456 204.29L351.127 211.102Z" fill="#3F3D56"/>
<path d="M351.154 301.999L352.288 300.942L357.487 306.534L362.684 300.939L363.819 301.995L357.488 308.807L351.154 301.999Z" fill="#3F3D56"/>
<path d="M357.473 265.065C362.176 265.065 365.989 261.252 365.989 256.549C365.989 251.845 362.176 248.032 357.473 248.032C352.77 248.032 348.957 251.845 348.957 256.549C348.957 261.252 352.77 265.065 357.473 265.065Z" fill="#3F3D56"/>
<path d="M426.581 0H285.678V174.968H426.581V0Z" fill="#3F3D56"/>
<path d="M347.319 65.1363H315.342C313.16 52.5212 313.16 39.625 315.342 27.0099H347.319C343.716 39.4634 343.716 52.6828 347.319 65.1363Z" fill="#FF6584"/>
<path d="M364.939 84.474H396.917C399.099 71.8589 399.099 58.9627 396.917 46.3475H364.939C368.542 58.8011 368.542 72.0205 364.939 84.474Z" fill="#6C63FF"/>
<path d="M334.744 147.958H366.721C368.903 135.343 368.903 122.447 366.721 109.831H334.744C338.347 122.285 338.347 135.504 334.744 147.958Z" fill="#6C63FF"/>
<path d="M720.001 166.452H579.098V341.419H720.001V166.452Z" fill="#3F3D56"/>
<path d="M699.872 203.613H599.227V208.258H699.872V203.613Z" fill="#6C63FF"/>
<path d="M699.872 219.871H599.227V224.516H699.872V219.871Z" fill="#6C63FF"/>
<path d="M699.872 236.129H599.227V240.774H699.872V236.129Z" fill="#6C63FF"/>
<path d="M699.872 252.387H599.227V257.032H699.872V252.387Z" fill="#6C63FF"/>
<path d="M699.872 268.645H599.227V273.29H699.872V268.645Z" fill="#6C63FF"/>
<path d="M675.872 285.677H623.227V304.258H675.872V285.677Z" fill="#6C63FF"/>
<path d="M438.968 346.064H298.064V521.032H438.968V346.064Z" fill="#3F3D56"/>
<path d="M419.069 443.463H318.424V448.108H419.069V443.463Z" fill="#6C63FF"/>
<path d="M419.069 459.721H318.424V464.366H419.069V459.721Z" fill="#6C63FF"/>
<path d="M419.069 475.979H318.424V480.624H419.069V475.979Z" fill="#6C63FF"/>
<path d="M419.069 492.237H318.424V496.882H419.069V492.237Z" fill="#6C63FF"/>
<path opacity="0.3" d="M349.254 408.341H317.277C315.095 395.726 315.095 382.83 317.277 370.215H349.254C345.652 382.668 345.652 395.888 349.254 408.341Z" fill="#6C63FF"/>
<path opacity="0.3" d="M421.391 373.785H362.553V377.656H421.391V373.785Z" fill="#6C63FF"/>
<path opacity="0.3" d="M421.391 387.721H362.553V391.592H421.391V387.721Z" fill="#6C63FF"/>
<path opacity="0.3" d="M421.391 401.656H362.553V405.527H421.391V401.656Z" fill="#6C63FF"/>
<path opacity="0.3" d="M421.391 415.592H362.553V419.463H421.391V415.592Z" fill="#6C63FF"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="720" height="610.065" fill="white"/>
</clipPath>
</defs>
</svg>
