footer.footer
  .common-wrapper(data-sal="slide-up" data-sal-duration="600" data-sal-delay="50")
    a.footer-link(href="https://github.com/ArjanJ/arjan-jassal-site" target="_blank" rel="noopener")
      | See the <code>code</code> for this website on GitHub