footer.footer
  .footer-wrapper(data-sal="slide-up" data-sal-duration="600" data-sal-delay="200" data-sal-easing="ease-out-cubic")
    p.footer-text
      | The end. Say <a href="mailto:hello@arjanjassal.com">hello@arjanjassal.com</a> for more 🔥