footer.footer
  .common-wrapper(data-sal="fade-in" data-sal-duration="1000" data-sal-easing="ease-out-cubic")
    p.footer-text
      | The end. Say <a href="mailto:hello@arjanjassal.com">hello@arjanjassal.com</a> for more 🔥