head
  meta(charset='utf-8')
  title Arjan Jassal
  meta(name='description' content='Arjan Jassal is a frontend developer based in Vancouver.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='theme-color' content='#000000')
  link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:700|Karla:400,700&display=swap' rel='stylesheet')
  link(href='./styles/index.scss' rel='stylesheet')