section.intro
  .intro-wrapper.common-wrapper
    h1.intro-heading.js-scroll Hello! My name is Arjan.
    p.intro-subheading.js-scroll
      | I’m a frontend developer based in Vancouver.
      | I build (and sometimes design) web apps.
  .intro-scroll-indicator
    .intro-scroll-indicator-text Scroll
    .intro-scroll-indicator-line
