section.intro
  .intro-wrapper.common-wrapper
    h1.intro-heading.js-scroll
      | Arjan is a frontend engineer based in Vancouver, Canada.
    //- p.intro-subheading.js-scroll
    //-   | I’m a frontend dev based in Vancouver.
    //-   | I build (and sometimes design) web apps.
  //- .intro-scroll-indicator
  //-   .intro-scroll-indicator-text Scroll
  //-   .intro-scroll-indicator-line
