section.intro
  .intro-wrapper.common-wrapper
    .intro-left
      h1.intro-heading.js-scroll Hello! My name is Arjan Jassal.
      p.intro-subheading.js-scroll
        | I’m a frontend developer based in London.
        | I build (and sometimes design) simple, fast, useful, websites and apps.
  .intro-scroll-indicator
    .intro-scroll-indicator-line
    .intro-scroll-indicator-text Scroll
