section.intro
  .intro-wrapper.common-wrapper
    .intro-left
      h1.intro-heading Hello! My name is Arjan Jassal.
      p.intro-subheading
        | I’m a frontend developer based in Vancouver, Canada.
        | I build (and sometimes design) simple, fast, and useful, websites and apps.
  .intro-scroll-indicator
    .intro-scroll-indicator-line
    .intro-scroll-indicator-text Scroll