section.intro
  .intro-wrapper.common-wrapper
    .intro-left
      h1.intro-heading(data-sal="slide-up" data-sal-duration="1000" data-sal-easing="ease-out-cubic")
        | Arjan is a driven developer that works with great people to build
        | great products.
    .intro-right
      div(data-sal="slide-down" data-sal-duration="1000" data-sal-easing="ease-out-cubic")
        svg.intro-flower-svg(width='398' height='432' viewbox='0 0 398 432' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='198' cy='108' r='106' stroke='white' stroke-width='4')
          circle(cx='108' cy='162' r='106' stroke='white' stroke-width='4')
          circle(cx='290' cy='162' r='106' stroke='white' stroke-width='4')
          circle(cx='108' cy='270' r='106' stroke='white' stroke-width='4')
          circle(cx='290' cy='270' r='106' stroke='white' stroke-width='4')
          circle(cx='198' cy='215' r='106' stroke='white' stroke-width='4')
          circle(cx='198' cy='324' r='106' stroke='white' stroke-width='4')
  .intro-scroll-indicator
    .intro-scroll-indicator-line
    .intro-scroll-indicator-text Side Projects