section.project
  .project-wrapper
    header.project-header
      h2.project-title Side Projects
    .project-list
      .project-box.project-box--sunset
        .project-box-info
          h3.project-name Teamwork
          p.project-desc An app to help you manage your team.
          a.project-gh(href="https://github.com/ArjanJ/teamwork" target="_blank") 
            include ./gh-icon.pug
        .project-img
          include ./teamwork.pug
    .project-list
      .project-box.project-box--cyan
        .project-box-info
          h3.project-name Readit
          p.project-desc A single page Reddit app.
          a.project-gh(href="https://github.com/ArjanJ/readit" target="_blank") 
            include ./gh-icon.pug
        .project-img
          include ./readit.pug
      .project-box.project-box--last.project-box--redsky
        .project-box-info
          h3.project-name React Camera
          p.project-desc A flexible camera component for React DOM.
          a.project-gh(href="https://github.com/ArjanJ/react-camera" target="_blank") 
            include ./gh-icon.pug
        .project-img
          include ./react-camera.pug