section.project
  .project-wrapper
    header.project-header
      div
        h2.project-title-text Selected Project
      .project-header-links
        a.project-title-text.project-link(href='') Website
        a.project-title-text.project-link(href='') GitHub
    .project-banner
      svg.project-banner-svg(width='1280' height='256' viewbox='0 0 1280 256' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 12C0 5.37258 5.37258 0 12 0H1268C1274.63 0 1280 5.37258 1280 12V192H0V12Z' fill='#E7E7E7')
        rect(y='48' width='1280' height='208' fill='#0900C3')
        circle(cx='24' cy='24' r='8' fill='#C4C4C4')
        circle(cx='49' cy='24' r='8' fill='#C4C4C4')
        circle(cx='74' cy='24' r='8' fill='#C4C4C4')
        rect(y='48' width='160' height='208' fill='#04002F')
        rect(x='16' y='96' width='128' height='8' fill='white' fill-opacity='0.5')
        rect(x='16' y='120' width='128' height='8' fill='white' fill-opacity='0.5')
        rect(x='16' y='144' width='80' height='8' fill='white' fill-opacity='0.5')
        rect(x='16' y='200' width='128' height='8' fill='white' fill-opacity='0.5')
        rect(x='704' y='112' width='176' height='80' rx='4' fill='black' fill-opacity='0.25')
        rect(x='224' y='112' width='176' height='80' rx='4' fill='black' fill-opacity='0.25')
        rect(x='464' y='112' width='176' height='80' rx='4' fill='black' fill-opacity='0.25')
        circle(cx='496' cy='152' r='16' fill='white' fill-opacity='0.35')
        circle(cx='736' cy='152' r='16' fill='white' fill-opacity='0.35')
        rect(x='944' y='112' width='176' height='80' rx='4' fill='black' fill-opacity='0.25')
        circle(cx='976' cy='152' r='16' fill='white' fill-opacity='0.35')
        path(d='M539.112 166.752C538.376 167.296 537.464 167.712 536.376 168C535.32 168.256 534.2 168.384 533.016 168.384C529.944 168.384 527.56 167.6 525.864 166.032C524.2 164.464 523.368 162.16 523.368 159.12V148.512H519.384V142.752H523.368V136.464H530.856V142.752H537.288V148.512H530.856V159.024C530.856 160.112 531.128 160.96 531.672 161.568C532.248 162.144 533.048 162.432 534.072 162.432C535.256 162.432 536.264 162.112 537.096 161.472L539.112 166.752ZM565.895 155.184C565.895 155.28 565.847 155.952 565.751 157.2H546.215C546.567 158.8 547.399 160.064 548.711 160.992C550.023 161.92 551.655 162.384 553.607 162.384C554.951 162.384 556.135 162.192 557.159 161.808C558.215 161.392 559.191 160.752 560.087 159.888L564.071 164.208C561.639 166.992 558.087 168.384 553.415 168.384C550.503 168.384 547.927 167.824 545.687 166.704C543.447 165.552 541.719 163.968 540.502 161.952C539.286 159.936 538.678 157.648 538.678 155.088C538.678 152.56 539.271 150.288 540.455 148.272C541.671 146.224 543.319 144.64 545.399 143.52C547.511 142.368 549.863 141.792 552.455 141.792C554.983 141.792 557.271 142.336 559.319 143.424C561.367 144.512 562.967 146.08 564.119 148.128C565.303 150.144 565.895 152.496 565.895 155.184ZM552.503 147.456C550.807 147.456 549.383 147.936 548.231 148.896C547.079 149.856 546.375 151.168 546.119 152.832H558.839C558.583 151.2 557.879 149.904 556.727 148.944C555.575 147.952 554.167 147.456 552.503 147.456ZM578.673 141.792C582.673 141.792 585.745 142.752 587.889 144.672C590.033 146.56 591.105 149.424 591.105 153.264V168H584.097V164.784C582.689 167.184 580.065 168.384 576.225 168.384C574.241 168.384 572.513 168.048 571.041 167.376C569.601 166.704 568.497 165.776 567.729 164.592C566.961 163.408 566.577 162.064 566.577 160.56C566.577 158.16 567.473 156.272 569.265 154.896C571.089 153.52 573.889 152.832 577.665 152.832H583.617C583.617 151.2 583.121 149.952 582.129 149.088C581.137 148.192 579.649 147.744 577.665 147.744C576.289 147.744 574.929 147.968 573.585 148.416C572.273 148.832 571.153 149.408 570.225 150.144L567.537 144.912C568.945 143.92 570.625 143.152 572.577 142.608C574.561 142.064 576.593 141.792 578.673 141.792ZM578.097 163.344C579.377 163.344 580.513 163.056 581.505 162.48C582.497 161.872 583.201 160.992 583.617 159.84V157.2H578.481C575.409 157.2 573.873 158.208 573.873 160.224C573.873 161.184 574.241 161.952 574.977 162.528C575.745 163.072 576.785 163.344 578.097 163.344ZM629.034 141.792C632.266 141.792 634.826 142.752 636.714 144.672C638.634 146.56 639.594 149.408 639.594 153.216V168H632.106V154.368C632.106 152.32 631.674 150.8 630.81 149.808C629.978 148.784 628.778 148.272 627.21 148.272C625.45 148.272 624.058 148.848 623.034 150C622.01 151.12 621.498 152.8 621.498 155.04V168H614.01V154.368C614.01 150.304 612.378 148.272 609.114 148.272C607.386 148.272 606.01 148.848 604.986 150C603.962 151.12 603.45 152.8 603.45 155.04V168H595.962V142.176H603.114V145.152C604.074 144.064 605.242 143.232 606.618 142.656C608.026 142.08 609.562 141.792 611.226 141.792C613.05 141.792 614.698 142.16 616.17 142.896C617.642 143.6 618.826 144.64 619.722 146.016C620.778 144.672 622.106 143.632 623.706 142.896C625.338 142.16 627.114 141.792 629.034 141.792ZM685.389 142.176L676.029 168H668.829L663.021 151.968L657.021 168H649.821L640.509 142.176H647.565L653.661 159.648L659.997 142.176H666.333L672.477 159.648L678.765 142.176H685.389ZM698.535 168.384C695.815 168.384 693.367 167.824 691.191 166.704C689.047 165.552 687.367 163.968 686.151 161.952C684.935 159.936 684.327 157.648 684.327 155.088C684.327 152.528 684.935 150.24 686.151 148.224C687.367 146.208 689.047 144.64 691.191 143.52C693.367 142.368 695.815 141.792 698.535 141.792C701.255 141.792 703.687 142.368 705.831 143.52C707.975 144.64 709.655 146.208 710.871 148.224C712.087 150.24 712.695 152.528 712.695 155.088C712.695 157.648 712.087 159.936 710.871 161.952C709.655 163.968 707.975 165.552 705.831 166.704C703.687 167.824 701.255 168.384 698.535 168.384ZM698.535 162.24C700.455 162.24 702.023 161.6 703.239 160.32C704.487 159.008 705.111 157.264 705.111 155.088C705.111 152.912 704.487 151.184 703.239 149.904C702.023 148.592 700.455 147.936 698.535 147.936C696.615 147.936 695.031 148.592 693.783 149.904C692.535 151.184 691.911 152.912 691.911 155.088C691.911 157.264 692.535 159.008 693.783 160.32C695.031 161.6 696.615 162.24 698.535 162.24ZM722.932 145.584C723.828 144.336 725.028 143.392 726.532 142.752C728.068 142.112 729.828 141.792 731.812 141.792V148.704C730.98 148.64 730.42 148.608 730.132 148.608C727.988 148.608 726.308 149.216 725.092 150.432C723.876 151.616 723.268 153.408 723.268 155.808V168H715.78V142.176H722.932V145.584ZM745.432 157.872L741.832 161.424V168H734.344V132.384H741.832V152.544L752.776 142.176H761.704L750.952 153.12L762.664 168H753.592L745.432 157.872Z' fill='#F8CF83')
        circle(cx='256' cy='153' r='16' fill='white' fill-opacity='0.35')
    .project-write-up-wrapper
      p.project-write-up.project-write-up-lead
        strong
          | The idea behind Teamwork is to help team leads stay on top of
          | providing feedback, having 1-on-1&rsquo;s, and making sure their team
          | members have what they need to do their best work.
      p.project-write-up
        | I started this passion project when I realized my time as team lead
        | could&rsquo;ve been made easier if there was a way to manage a few small
        | but important things better.
      p.project-write-up
        | Having an organized way to keep track of feedback for team members
        | and vice versa is critical in my opinion, and commonly used tools
        | like Slack, Jira, email, etc... aren&rsquo;t optimized for this.
      p.project-write-up
        | Doing regular 1-on-1&rsquo;s is also key when it comes to running a great
        | team, and one common downfall of these meetings is forgetting to set
        | an agenda, and not keeping track of any outcomes from the meeting.
      p.project-write-up
        | Lastly, while you&rsquo;re team lead there&rsquo;s always things you owe to each
        | team member, it could be explaining product requirements, following
        | up with your own manager, technical mentoring, etc... All of these
        | things don&rsquo;t really fit into Jira, and typically aren&rsquo;t accounted
        | for during sprints. It&rsquo;s easy to forget about these little things
        | that help your team be the best that it can be, and that&rsquo;s where
        | Teamwork comes in... well at least when I finish it.
      .project-write-up-overlay
    button.project-read-more(id="project-read-more", type="button")
      span Read more
      svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0)')
          path(d='M7.99984 12C7.76784 12 7.53684 11.92 7.34884 11.759L-0.410156 5.10897L0.891844 3.58997L7.99984 9.68297L15.1078 3.58997L16.4098 5.10897L8.65084 11.759C8.46284 11.92 8.23184 12 7.99984 12Z' fill='white')
        defs
          clippath#clip0
            rect(width='16' height='16' fill='white')
