section.projects
  .projects-wrapper.common-wrapper
    header.projects-header
      h2.common-section-title 01. Side Projects

    .projects-list
      .projects-box.js-scroll(data-link="https://github.com/ArjanJ/teamwork")
        .projects-info
          h3.projects-name Teamwork
          p.projects-desc An app to keep track of feedback, schedule 1-on-1 meetings, and keep your team happy.
          ul.projects-tech-list
            li.projects-tech-list-item React
            li.projects-tech-list-item Redux
            li.projects-tech-list-item TypeScript
            li.projects-tech-list-item Node.js
            li.projects-tech-list-item Firebase
          div.projects-links
            a.projects-links-link(href="https://github.com/ArjanJ/teamwork" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
            a.projects-links-link(href="https://teamapp.work/signup" rel="noopener" target="_blank") 
              include ./icons/website-icon.pug
              span See Demo
        .projects-img.projects-box--sunset
          include ./teamwork.pug

      .projects-box.projects-box--reverse.js-scroll(data-link="https://github.com/ArjanJ/react-camera")
        .projects-info
          h3.projects-name React Camera
          p.projects-desc A flexible camera component for React DOM. Take photos using the latest WebRTC API's.
          ul.projects-tech-list
            li.projects-tech-list-item React
            li.projects-tech-list-item Media Stream
            li.projects-tech-list-item Styled Components
          div.projects-links
            a.projects-links-link(href="https://github.com/ArjanJ/react-camera" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
            a.projects-links-link(href="https://react-camera.netlify.com/" rel="noopener" target="_blank") 
              include ./icons/website-icon.pug
              span See Demo
        .projects-img.projects-box--redsky
          include ./react-camera.pug

      .projects-box.js-scroll(data-link="https://github.com/ArjanJ/readit")
        .projects-info
          h3.projects-name Readit
          p.projects-desc Browse Reddit without visual noise. Built with React + Flux.
          ul.projects-tech-list
            li.projects-tech-list-item React
            li.projects-tech-list-item Flux
            li.projects-tech-list-item Node.js
            li.projects-tech-list-item Reddit API
          div.projects-links
            a.projects-links-link(href="https://github.com/ArjanJ/readit" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
            a.projects-links-link(href="http://readit.arjanjassal.me/" rel="noopener" target="_blank") 
              include ./icons/website-icon.pug
              span See Demo
        .projects-img.projects-box--cyan
          include ./readit.pug