section.projects
  .projects-wrapper.common-wrapper
    header.projects-header
      h2.projects-title Side Projects
    .projects-list
      .projects-box.projects-box--sunset(data-sal="slide-up" data-sal-duration="850" data-sal-easing="ease-out-cubic")
        .projects-box-info
          h3.projects-name Teamwork
          p.projects-desc An app to help manage your team.
          a.projects-gh(href="https://github.com/ArjanJ/teamwork" rel="noopener" aria-label="GitHub repository for Teamwork" target="_blank") 
            include ./icons/gh-icon.pug
        .projects-img
          include ./teamwork.pug
    .projects-list
      .projects-box.projects-box--cyan(data-sal="slide-up" data-sal-duration="850" data-sal-easing="ease-out-cubic")
        .projects-box-info
          h3.projects-name Readit
          p.projects-desc A single page Reddit app.
          a.projects-gh(href="https://github.com/ArjanJ/readit" rel="noopener" aria-label="GitHub repository for Readit" target="_blank") 
            include ./icons/gh-icon.pug
        .projects-img
          include ./readit.pug
      .projects-box.projects-box--last.projects-box--redsky(data-sal="slide-up" data-sal-delay="150" data-sal-duration="850" data-sal-easing="ease-out-cubic")
        .projects-box-info
          h3.projects-name React Camera
          p.projects-desc A flexible camera component for React DOM.
          a.projects-gh(href="https://github.com/ArjanJ/react-camera" rel="noopener" aria-label="GitHub repository for React Camera" target="_blank") 
            include ./icons/gh-icon.pug
        .projects-img
          include ./react-camera.pug