svg(width='510' height='304' preserveAspectRatio='xMidYMax meet' viewbox='0 0 510 304' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M0 12C0 5.37259 5.37258 0 12 0H498C504.627 0 510 5.37258 510 12V304H0V12Z' fill='#E7E7E7')
  rect(y='48' width='510' height='256' fill='#7A08FA')
  circle(cx='24' cy='24' r='8' fill='#C4C4C4')
  circle(cx='49' cy='24' r='8' fill='#C4C4C4')
  circle(cx='74' cy='24' r='8' fill='#C4C4C4')
  path(d='M295.375 121.375H214.625C213.365 121.375 212.157 121.875 211.266 122.766C210.375 123.657 209.875 124.865 209.875 126.125V225.875C209.875 227.135 210.375 228.343 211.266 229.234C212.157 230.125 213.365 230.625 214.625 230.625H295.375C296.635 230.625 297.843 230.125 298.734 229.234C299.625 228.343 300.125 227.135 300.125 225.875V126.125C300.125 124.865 299.625 123.657 298.734 122.766C297.843 121.875 296.635 121.375 295.375 121.375ZM293 185.5H217V128.5H293V185.5Z' fill='white')
  path(d='M255 154.625C260.247 154.625 264.5 150.372 264.5 145.125C264.5 139.878 260.247 135.625 255 135.625C249.753 135.625 245.5 139.878 245.5 145.125C245.5 150.372 249.753 154.625 255 154.625Z' fill='white')
  path(d='M274 178.375C274 173.336 271.998 168.503 268.435 164.94C264.872 161.377 260.039 159.375 255 159.375C249.961 159.375 245.128 161.377 241.565 164.94C238.002 168.503 236 173.336 236 178.375V180.75H274V178.375Z' fill='white')
