.browser
  .browser-header
    .browser-header-dot
    .browser-header-dot
    .browser-header-dot
  .browser-window
    .react-camera(id="react-camera-graphic")
      svg(width='92' height='110' viewbox='0 0 92 110' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M86.375 0.375H5.625C4.36522 0.375 3.15704 0.875445 2.26624 1.76624C1.37544 2.65704 0.875 3.86522 0.875 5.125V104.875C0.875 106.135 1.37544 107.343 2.26624 108.234C3.15704 109.125 4.36522 109.625 5.625 109.625H86.375C87.6348 109.625 88.843 109.125 89.7338 108.234C90.6246 107.343 91.125 106.135 91.125 104.875V5.125C91.125 3.86522 90.6246 2.65704 89.7338 1.76624C88.843 0.875445 87.6348 0.375 86.375 0.375ZM84 64.5H8V7.5H84V64.5Z' fill='white')
        g.react-camera-person
          path(d='M46 33.625C51.2467 33.625 55.5 29.3717 55.5 24.125C55.5 18.8783 51.2467 14.625 46 14.625C40.7533 14.625 36.5 18.8783 36.5 24.125C36.5 29.3717 40.7533 33.625 46 33.625Z' fill='white')
          path(d='M65 57.375C65 52.3359 62.9982 47.5032 59.435 43.94C55.8718 40.3768 51.0391 38.375 46 38.375C40.9609 38.375 36.1282 40.3768 32.565 43.94C29.0018 47.5032 27 52.3359 27 57.375V59.75H65V57.375Z' fill='white')

