.browser
  .browser-header
    .browser-header-dot
    .browser-header-dot
    .browser-header-dot
  .browser-window
    .readit
      .readit-media
        .readit-media-box
        .readit-media-lines
          .readit-media-headline
          .readit-media-subline
      .readit-media
        .readit-media-box
        .readit-media-lines
          .readit-media-headline
          .readit-media-subline
      .readit-media
        .readit-media-box
        .readit-media-lines
          .readit-media-headline
          .readit-media-subline
