svg(width='510' height='304' viewbox='0 0 510 304' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M0 12C0 5.37259 5.37258 0 12 0H498C504.627 0 510 5.37258 510 12V304H0V12Z' fill='#E7E7E7')
  rect(y='48' width='510' height='256' fill='white')
  circle(cx='24' cy='24' r='8' fill='#C4C4C4')
  circle(cx='49' cy='24' r='8' fill='#C4C4C4')
  circle(cx='74' cy='24' r='8' fill='#C4C4C4')
  rect(x='30' y='80' width='120' height='64' rx='3' fill='#C1BDFE')
  rect(x='180' y='80' width='240' height='16' rx='3' fill='black' fill-opacity='0.2')
  rect(x='180' y='112' width='120' height='16' rx='3' fill='black' fill-opacity='0.2')
  rect(x='180' y='208' width='120' height='16' rx='3' fill='black' fill-opacity='0.2')
  rect(x='180' y='176' width='240' height='16' rx='3' fill='black' fill-opacity='0.2')
  rect(x='180' y='272' width='240' height='16' rx='3' fill='black' fill-opacity='0.2')
  rect(x='30' y='176' width='120' height='64' rx='3' fill='#C1BDFE')
  rect(x='30' y='272' width='120' height='32' rx='3' fill='#C1BDFE')
