.browser
  .browser-header
    .browser-header-dot
    .browser-header-dot
    .browser-header-dot
  .browser-window
    .teamwork(id="teamwork-graphic")
      .teamwork-sidebar
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
      .teamwork-main
        .teamwork-heading
        .teamwork-list
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
            .teamwork-item-menu
              .teamwork-item-menu-item
              .teamwork-item-menu-item
              .teamwork-item-menu-item
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
      .teamwork-modal
        .teamwork-modal-dialog
          .teamwork-modal-heading
          .teamwork-modal-subheading
          .teamwork-modal-circle
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewbox='0 0 24 24')
              g(transform='translate(0, 0)')
                polygon(points='9 21 1 13 4 10 9 15 21 3 24 6 9 21' fill='#FFFFFF')


          
