.browser
  .browser-header
    .browser-header-dot
    .browser-header-dot
    .browser-header-dot
  .browser-window
    .teamwork(id="teamwork-graphic")
      .teamwork-sidebar
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
      .teamwork-main
        .teamwork-list
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
            .teamwork-item-menu
              .teamwork-item-menu-item
              .teamwork-item-menu-item
              .teamwork-item-menu-item
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          
