svg(width='1260' height='304' preserveAspectRatio='xMidYMax meet' viewbox='0 0 1260 304' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M0 12C0 5.37259 5.37258 0 12 0H1248C1254.63 0 1260 5.37258 1260 12V304H0V12Z' fill='#E7E7E7')
  rect(y='48' width='1260' height='256' fill='#0900C3')
  ellipse(cx='23.625' cy='24' rx='7.875' ry='8' fill='#C4C4C4')
  ellipse(cx='48.2344' cy='24' rx='7.875' ry='8' fill='#C4C4C4')
  ellipse(cx='72.8438' cy='24' rx='7.875' ry='8' fill='#C4C4C4')
  rect(y='48' width='180' height='256' fill='#04002F')
  rect(x='16' y='96' width='134' height='8' fill='white' fill-opacity='0.5')
  rect(x='16' y='120' width='134' height='8' fill='white' fill-opacity='0.5')
  rect(x='16' y='144' width='84' height='8' fill='white' fill-opacity='0.5')
  rect(x='16' y='200' width='134' height='8' fill='white' fill-opacity='0.5')
  rect(x='16' y='224' width='117' height='8' fill='white' fill-opacity='0.5')
  rect(x='750' y='96' width='180' height='80' rx='4' fill='black' fill-opacity='0.25')
  rect(x='270' y='96' width='180' height='80' rx='4' fill='black' fill-opacity='0.25')
  rect(x='511' y='96' width='179' height='80' rx='4' fill='black' fill-opacity='0.25')
  ellipse(cx='555.75' cy='136' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
  ellipse(cx='795.75' cy='136' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
  rect(x='990' y='96' width='180' height='80' rx='4' fill='black' fill-opacity='0.25')
  ellipse(cx='1035.75' cy='136' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
  ellipse(cx='315.75' cy='137' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
  rect(x='270' y='200' width='180' height='80' rx='4' fill='black' fill-opacity='0.25')
  rect(x='511' y='200' width='179' height='80' rx='4' fill='black' fill-opacity='0.25')
  ellipse(cx='555.75' cy='240' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
  ellipse(cx='315.75' cy='241' rx='15.75' ry='16' fill='white' fill-opacity='0.35')
