.browser
  .browser-header
    .browser-header-dot
    .browser-header-dot
    .browser-header-dot
  .browser-window
    .teamwork
      .teamwork-sidebar
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
        .teamwork-sidebar-line
      .teamwork-main
        .teamwork-list
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          .teamwork-item
            .teamwork-item-circle
          
