section.work
  .work-wrapper
    header.work-header
      h2.work-title Work Experience
    .work-groups#workAccordion
      .work-group(data-color="#0061FF" data-expanded="false")
        header.work-group-header
          h2.work-group-name Taloflow
          include ./icons/add-icon.pug
        .work-group-content
          .work-group-info
            .work-group-info-block
              h3.work-group-info-heading When
              p.work-group-info-value 2018/2019
            .work-group-info-block
              h3.work-group-info-heading Role
              p.work-group-info-value Sr. Frontend Engineer
          .work-group-body
            p.work-group-body-copy
              | I joined Taloflow's tight-knit team as their first frontend engineer.
              | Part of my role was to decide what tech to use, how to structure things, and to get an MVP up and running
              | a.s.a.p. Like most startups, trade-offs and prioritization were key when it came to shipping on time.
            p.work-group-body-copy
              | With that in mind, I choose to use tech I was very familiar with like <strong>React</strong>, <strong>Styled Components</strong>, and <strong>Firebase</strong>,
              | and <em>some</em> tech I'd never used but wanted to, like <strong>TypeScript</strong>.
              | This way I could still progress quickly and keep things interesting by learning something new.
            h3.work-group-info-heading Highlights
            ul.work-group-highlights
              li.work-group-highlight Building a themed dashboard with <strong>TypeScript</strong> and Styled Components
              li.work-group-highlight Using <strong>gRPC protocol</strong> on the web for client-server commmunication
              li.work-group-highlight Utilizing Node.js to build a <strong>Slack</strong> a integration
              li.work-group-highlight Collaborating with amazing backend engineers and product designers
      .work-group(data-color="#28ABE1" data-expanded="false")
        header.work-group-header
          h2.work-group-name Grow
          include ./icons/add-icon.pug
        .work-group-content
          .work-group-info
            .work-group-info-block
              h3.work-group-info-heading When
              p.work-group-info-value 2016/2018
            .work-group-info-block
              h3.work-group-info-heading Role
              p.work-group-info-value Sr. Frontend Engineer, Team Lead
          .work-group-body
            p.work-group-body-copy
              | I joined Grow's team of 4 engineers while the company was still focused on a direct-to-consumer model.
              | At the time, Grow's competition was banks and credit unions across Canada. Shortly after joining, Grow pivoted
              | to a SaaS model, and now their competition were customers. This brought a slew of challenges to the
              | engineering team, like making our existing product white-labeled and modular so that it could be highly scalable
              | across all customers. As you could imagine, a lot of discussions around what to refactor to
              | fit this new business model were had, along with what to rewrite from a blank slate and the pros and cons
              | of each option.
            p.work-group-body-copy
              | The next 2 years were spent utilizing <strong>React</strong>, <strong>Redux</strong>, <strong>Styled Components</strong>, and
              | many other great tools in the JavaScript ecosystem to build the UI that powered Grow's
              | modular products. I also helped build out the frontend team by <strong>interviewing</strong> countless candidates
              | and taking part in refining Grow's interview process.
            p.work-group-body-copy
              | Grow also didn't have any product designers, so myself and another frontend engineer designed all
              | products and old marketing websites. This was a fun but challenging responsibilty because we had to
              | thinking about the UX, UI, and code, so there was a lot of context switching, but also a lot of
              | great experience wearing those different hats. 
            h3.work-group-info-heading Highlights
            ul.work-group-highlights
              li.work-group-highlight Architecting a modular white-labeled UI
              li.work-group-highlight Shipping with some of Canada's largest banks and credit unions
              li.work-group-highlight Experiencing a <strong>leadership</strong> role and <strong>mentoring</strong> junior team members
              li.work-group-highlight <strong>Interviewing</strong> many engineers and understanding how hard interviewing is
              li.work-group-highlight Speaking about how we use React at <strong>Vancouver Startup Week</strong>
      .work-group(data-color="#75cac3" data-expanded="false")
        header.work-group-header
          h2.work-group-name Ettrics
          include ./icons/add-icon.pug
        .work-group-content
          .work-group-info
            .work-group-info-block
              h3.work-group-info-heading When
              p.work-group-info-value 2015/2016
            .work-group-info-block
              h3.work-group-info-heading Role
              p.work-group-info-value Frontend Developer
          .work-group-body
            p.work-group-body-copy
              | Ettrics was my first real taste of being a frontend developer on a team with backend engineers
              | and product designers. It was at Ettrics that I started as Web Designer and ended as a Frontend Developer. 
              | The key moment during this evolution was when I picked up <strong>Angular.js</strong>
              | and started to intract with <strong>RESTful APIs</strong> that the backend devs were building.
              | This way of working on the frontend was totally different than the static websites I was used to building, and I loved it.
            h3.work-group-info-heading Highlights
            ul.work-group-highlights
              li.work-group-highlight <strong>Working remotely</strong> and communicating with people through Slack
              li.work-group-highlight Started building apps with JavaScript instead of marketing websites
              li.work-group-highlight Someone showed me how to use Git properly
      .work-group(data-color="#1D4287" data-expanded="false")
        header.work-group-header
          h2.work-group-name PerfectMind
          include ./icons/add-icon.pug
        .work-group-content
          .work-group-info
            .work-group-info-block
              h3.work-group-info-heading When
              p.work-group-info-value 2014/2015
            .work-group-info-block
              h3.work-group-info-heading Role
              p.work-group-info-value Web Designer
          .work-group-body
            p.work-group-body-copy
              | PerfectMind offered me my first real job in the industry as a Web Designer, but it wasn't quite what I had imagined.
              | I was part of a small web team that pumped out websites from a few depressing templates that looked like they were
              | designed in 1999. Along with outdated designs, the tech being used to build the websites was just as old. To sum it up,
              | it was just plain old HTML and CSS.
            p.work-group-body-copy
              | I saw this as a great opportunity to introduce the team to things like build tools, and pre-processors to make
              | development easier and more effective. Being able to split your HTML, and CSS into different files and then process
              | them into a single file was pretty cool back then, and it made website development a lot easier. The team was receptive
              | to using these new tools, so that was cool. The next thing I focused on was creating new website templates that looked
              | more modern and up to date with what I know about design and user experience, along with adding some spice using JavaScript.
            h3.work-group-info-heading Highlights
            ul.work-group-highlights
              li.work-group-highlight Experienced what it's like to build web things for a living
              li.work-group-highlight Taught co-workers modern tools (at the time) like Gulp, SCSS, etc...
        
