section.work
  .work-wrapper
    header.work-header
      h2.work-title Work Experience
    .work-group
      .work-group-left
        p.work-group-date 2018-2019
        h2.work-group-name Taloflow
        p.work-group-desc
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          | Voluptatum provident eum deleniti tempora culpa magnam, veritatis
          | ad, eligendi incidunt laborum aliquid, nulla animi reiciendis iure
          | repudiandae fugit odio! Sapiente, dolorem.
      .work-group-right
        include ./taloflow-svg.pug
    .work-group
      .work-group-left
        p.work-group-date 2016-2018
        h2.work-group-name Grow
        p.work-group-desc
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          | Voluptatum provident eum deleniti tempora culpa magnam, veritatis
          | ad, eligendi incidunt laborum aliquid, nulla animi reiciendis iure
          | repudiandae fugit odio! Sapiente, dolorem.
      .work-group-right
        include ./grow-svg.pug
    .work-group
      .work-group-left
        p.work-group-date 2015-2016
        h2.work-group-name Ettrics
        p.work-group-desc
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          | Voluptatum provident eum deleniti tempora culpa magnam, veritatis
          | ad, eligendi incidunt laborum aliquid, nulla animi reiciendis iure
          | repudiandae fugit odio! Sapiente, dolorem.
      .work-group-right
        include ./ettrics-svg.pug