section.work
  .work-wrapper.common-wrapper
    header.work-header.js-scroll
      h2.common-section-title 01. Work Experience
    .work-groups#workAccordion
      include ./work/onfleet.pug
      include ./work/farmdrop.pug
      include ./work/taloflow.pug
      include ./work/grow.pug
      include ./work/ettrics.pug
      include ./work/perfectmind.pug
      
        
