section.work
  .work-wrapper.common-wrapper
    header.work-header
      h2.work-title Work Experience
    .work-groups#workAccordion
      include ./work/taloflow.pug
      include ./work/grow.pug
      include ./work/ettrics.pug
      include ./work/perfectmind.pug
      
        
