section.work
  .work-wrapper
    header.work-header
      h2.work-title Work Experience
    .work-groups
        .work-group
          h2.work-group-name Taloflow
          p.work-group-date When: 2018-2019
          p.work-group-role Role: Senior Frontend Engineer
          p.work-group-tech Tech: React, TypeScript, Node.js, Firebase, gRPC, Styled Components
          p.work-group-desc
            | I joined Taloflow's intimate team as their first frontend engineer.
            | Part of my role was to decide what tech to use, how to structure things, and to get an MVP up and running
            | a.s.a.p. Like most startups, there are tight deadlines, and tight deadlines come with trade-offs.
            | With that in mind, I choose to use tech I was mostly familiar with like React, Styled Components, and Firebase,
            | and <em>some</em> tech I'd never used like TypeScript. Quick progress was made due to tools like React,
            | whilst still providing a challenge by learning TypeScript.
          strong.work-group-heading Highlights
          ul.work-group-highlights
            li.work-group-highlight Building a themed dashboard with TypeScript and Styled Components
            li.work-group-highlight Using gRPC protocol on the web for client-server commmunication
            li.work-group-highlight Utilizing Node.js to build a Slack a integration
        .work-group
          h2.work-group-name Grow
          p.work-group-date When: 2016-2018
          p.work-group-role Role: Senior Frontend Engineer, Team Lead
          p.work-group-tech Tech: React, Flow, Node.js, Firebase, Styled Components
          p.work-group-desc
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Voluptatum provident eum deleniti tempora culpa magnam, veritatis
            | ad, eligendi incidunt laborum aliquid, nulla animi reiciendis iure
            | repudiandae fugit odio! Sapiente, dolorem.
