---
layout: page
---

<div class="post">
	<header class="post-header post-header--{{ page.class }}">
		<h1 class="post-header__title">{{ page.title }}</h1>
	</header>

	<article class="post-content">
		<div class="wrapper post-content__wrapper">
			 {{ content }}
		</div>
	</article>
</div>

<nav class="post-nav" id="js-post-nav">
  {% if page.previous.url %}
    <a class="post-nav__link" href="{{ page.previous.url }}">
    	<svg x="0" y="0" width="36" height="36" viewBox="0 0 36 36" enable-background="new 0 0 36 36"><path fill="none" d="M0 0h36v36H0V0z"/><path d="M30 16.5H11.74l8.38-8.38L18 6 6 18l12 12 2.12-2.12 -8.38-8.38H30V16.5z"/></svg>
    	{{ page.previous.title }}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="post-nav__link" href="{{ page.next.url }}">
    	{{ page.next.title }}
    	<svg x="0" y="0" width="36" height="36" viewBox="0 0 36 36" enable-background="new 0 0 36 36"><path fill="none" d="M0 0h36v36H0V0z"/><path d="M18 6l-2.12 2.12 8.38 8.38H6v3h18.26l-8.38 8.38L18 30l12-12L18 6z"/></svg>
    </a>
  {% endif %}
</nav>