/*------------------------------------*\
    #BASE - ELEMENTS
\*------------------------------------*/

*,
*:before,
*:after {
	/**
	* Inherit is used instead of border-box because it means
	* you don't have to override anything when you don't want
	* border-box. border-box is set in the HTML element and all * other elements inherit that.
	*/
	box-sizing: inherit;
	-moz-box-sizing: inherit;
}

html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	@include font-size(0.625);
	line-height: $line-height;
}

body {
	height: 100%;
	font-family: $font-text;
	@include font-size($font-small);
	color: white;
	// for smooth font rendering in Chrome and Firefox
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 0;
}

img {
	height: auto;
	width: auto;
}

figure {
	margin: 0;
}

input {
	display: block;
	border: none;

	&:focus {
		outline: none;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: white;
}