/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: ($spacing-fixed) (0);
	font-family: $font-heading;
	font-weight: $font-weight-bold;
}

h1 {
	@include font-size($font-xlarge);
}

h2 {
	@include font-size($font-large);
}

h3 {
	@include font-size($font-medium);
}

h4 {
	@include font-size($font-normal);
}

h5 {
	@include font-size($font-small);
}

h6 {
	@include font-size($font-small);
}

.xsmall { @include font-size($font-xsmall); }
.small { @include font-size($font-small); }
.normal { @include font-size($font-normal); }
.medium { @include font-size($font-medium); }
.large { @include font-size($font-large); }
.xlarge { @include font-size($font-xlarge); }
.xxlarge { @include font-size($font-xxlarge); }
.xxxlarge { @include font-size($font-xxxlarge); }
.massive { @include font-size($font-massive); }
.giant { @include font-size($font-giant); }

p {
	margin: ($spacing-fixed / 2) (0);
	font-family: $font-text;
	font-weight: $font-weight-light;
}

strong {
	font-weight: $font-weight-black;
}

dt {
	font-family: $font-text;
}

a {
	@include ease-out-normal;
	font-weight: $font-weight-bold;

	&:hover {
		opacity: 0.6;
	}
}