.border {
	$size: 5px;

	> div {
		position: absolute;
		z-index: 1;
		background: $theme-color-1;
		@include shadow(1);
	}

	&__left {
		top: $base-space;
		left: $base-space;
		width: $size;
		height: calc(100% - #{$base-space * 2});
	}

	&__right {
		top: $base-space;
		right: $base-space;
		width: $size;
		height: calc(100% - #{$base-space * 2});
	}

	&__top {
		top: $base-space;
		left: $base-space;
		height: $size;
		width: calc(100% - #{$base-space * 2});
	}

	&__bottom {
		bottom: $base-space;
		left: $base-space;
		height: $size;
		width: calc(100% - #{$base-space * 2});
	}
}