.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	bottom: 0;
	left: 0;
	height: ($base-space * 5);
	background: color(white);
	width: 100%;
	backface-visibility: hidden;

	&__text {
		font-size: map-get($heading-sizes, 6);
		text-align: center;
	}

	@include bp(small) {

		&__text {
			font-size: map-get($heading-sizes, 3);
		}
	}

	@include bp(large) {
		height: ($base-space * 10);

		&__text {
			font-size: map-get($heading-sizes, 2);
		}
	}
}