.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	bottom: 0;
	left: 0;
	height: ($base-space * 5);
	background: color(white);
	width: 100%;
	backface-visibility: hidden;

	&__text {
		display: inline-block;
		font-size: map-get($heading-sizes, 6);
		margin-bottom: ($base-space);
		text-align: center;

		a {
			color: $theme-color-1;
			font-weight: 400;
		}
	}

	&__links {
		text-align: center;

		&-link {
			@extend .home__link;
			font-size: 1.4rem;
		}

		a.footer__links-link {
			margin: (0) ($base-space / 3);
			font-weight: 400;
			color: $theme-color-2;

			&:hover {
				color: $theme-color-4;
			}
		}
	}

	@include bp(small) {

		&__text {
			font-size: map-get($heading-sizes, 3);
		}
	}

	@include bp(large) {
		height: ($base-space * 10);

		&__text {
			font-size: map-get($heading-sizes, 2);
		}
	}
}