.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: -1;
	bottom: 0;
	left: 0;
	height: ($base-space * 5);
	background: color(white);
	width: 100%;
	backface-visibility: hidden;

	&__text {
		font-size: map-get($heading-sizes, 5);
		transform: scale(0);
		@include ease('out', 0.5);

		&--active {
			transform: scale(1);
		}
	}

	@include bp(large) {
		height: ($base-space * 10);

		&__text {
			font-size: map-get($heading-sizes, 2);
		}
	}
}