.header {
	@include clearfix;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: ($base-space * 2) ($base-space * 2) ($base-space / 2);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	overflow: visibile;
	backface-visibility: hidden;
	background: rgba($theme-color-4, 0);
	will-change: transform, opacity, padding, background;
	@include ease();

	&.hide {
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}

	&.header--scrolled {
		padding: ($base-space / 2) ($base-space) ($base-space / 2);
		background: rgba($theme-color-4, 0.95);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__contact {

		a {
			color: $theme-color-1;
			color: color(white);
			vertical-align: middle;
			font-size: 1.4rem;
		}

		svg {
			fill: $theme-color-1;
		}
	}

	@include bp(medium) {
		padding: ($base-space * 2.5) ($base-space * 2.5) ($base-space / 2);

		&.header--scrolled {
			padding: ($base-space / 2) ($base-space * 2.5) ($base-space / 2);
		}

		&__wrapper {
			justify-content: flex-end;
		}
	}
}