.nav {
	@include clearfix;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	overflow: hidden;
	backface-visibility: hidden;
	background: $theme-color-4;
	background: color(white);
	transform: translate3d(100%, 0, 0);
	transform-origin: right center;
	will-change: transform;
	@include shadow(4);
	@include ease('in-out');

	&:before {
		content: "";
		display: block;
		@include cover;
		z-index: -1;
		background: url('../img/wov2.png');
		opacity: 0.03;
	}

	&--active {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		@include ease('out', 0.5);
		transform: translate3d(0, 0, 0);
	}

	&__list {
		list-style-type: none;
		width: 100%;
		margin: ($base-space * 2) (0) (0);

		&:nth-child(2) {
			margin-top: ($base-space);
		}
	}

	&__item {
		@include ease('out', 0.5);
	}

	&__link {
		display: block;
		padding: ($base-space / 4) ($base-space * 3);
		font-size: map-get($heading-sizes, 3);
		font-weight: 700;
		letter-spacing: (-$base-space / 20);
		color: $theme-color-1;
		@include ease();

		&:hover {
			color: mix(black, $theme-color-1, 20);
		}

		&--sm {
			font-size: map-get($heading-sizes, 5);
			color: $theme-color-2;

			&:hover {
				color: mix(black, $theme-color-2, 20);
			}
		}
	}

	@include bp(medium) {
		width: ($base-space * 15);

		&__list {
			margin-top: 0;
		}

		&__item {
			opacity: 0;
			transform: translateX(50%);
			will-change: transform, opacity;

			&--active {
				opacity: 1;
				transform: translateX(0);
			}

			@for $i from 1 through 5 {

				&:nth-child(#{$i}) {
					transition-delay: ($i * 0.1s);
				}
			}
		}

		&__link {
			padding: ($base-space / 3) ($base-space * 3);
			text-shadow: 10px 8px color(light-grey);
		}
	}
}