.about {
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 276px 0 0;

  @include mq($from: desktop) {
    padding: 60px 0;
  }

  &-wrapper {
    @include mq($from: desktop) {
      display: flex;
      justify-content: space-around;
      margin: auto;
    }
  }

  &-left {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @include mq($from: desktop) {
      margin-bottom: 0;
    }
  }

  &-pic {
    border-radius: 50%;
    height: 192px;
    width: 192px;

    @include mq($from: desktop) {
      height: 264px;
      width: 264px;
    }
  }

  &-right {
    margin-bottom: 60px;

    @include mq($from: desktop) {
      margin-bottom: 0;
      margin-left: 144px;
    }
  }

  &-bio {
    margin: auto;
    max-width: 600px;
  }

  &-subheading {
    font-family: "Karla", sans-serif;
    font-size: 24px;
    margin-bottom: 24px;

    @include mq($from: desktop) {
      font-size: 30px;
      line-height: 1.25;
    }
  }

  &-copy {
    font-size: 20px;
    margin-bottom: 24px;

    a {
      color: white;
    }
  }

  &-plug {
    padding-top: 24px;
  }
}
