.footer {
  padding: 24px 0 60px;

  .common-wrapper {
    position: relative;
  }

  &-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: opacity 0.35s var(--ease-out-cubic);

    &:focus,
    &:active {
      opacity: 0.75;
      outline: none;

      + .credits {
        opacity: 1;
        transform: none;
      }
    }
  }
}
