:root {
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: default;
  font-family: "Josefin Sans", sans-serif;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: #040404;
  margin: 0;
}

.intro {
  align-items: center;
  display: flex;
  height: 100vh;
}

.intro-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 1280px;
  padding: 0 36px;
}

.intro-left {
  flex: 1;
}

.intro-right {
  display: flex;
  justify-content: flex-end;
  left: auto;
  max-width: 1280px;
  position: fixed;
  right: auto;
  width: 100%;
}

.intro-heading {
  animation: fadeInDown 1.4s var(--ease-out-cubic) forwards;
  color: white;
  font-size: 84px;
  letter-spacing: -1px;
  line-height: 1.125;
  margin: 0;
  max-width: 520px;
  opacity: 0;
}

.flower-svg {
  animation: fadeIn 0.5s var(--ease-out-cubic) forwards;
  opacity: 0;
}

.plugs {
  animation: fadeIn 1.4s var(--ease-out-cubic) forwards;
  left: 12px;
  opacity: 0;
  position: fixed;
  top: 12px;
}

.plugs-link {
  align-items: center;
  display: flex;
  opacity: 0.75;
  padding: 12px;
  text-decoration: none;
  transition: all 0.35s var(--ease-out-cubic);

  &:hover {
    opacity: 1;

    .plugs-name {
      opacity: 1;
      transform: none;
    }
  }
}

.plugs-name {
  color: white;
  font-size: 16px;
  margin-left: 12px;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 0.35s var(--ease-out-cubic);
}

.middle {
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
