:root {
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: default;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: #040404;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.25;
  margin: 0;
}

.intro {
  align-items: center;
  display: flex;
  height: 100vh;
}

.intro-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 1280px;
  padding: 0 36px;
}

.intro-left {
  flex: 1;
}

.intro-right {
  display: flex;
  justify-content: flex-end;
  left: auto;
  right: auto;
}

.intro-heading {
  animation: fadeInDown 1.4s var(--ease-out-cubic) forwards;
  font-size: 84px;
  letter-spacing: -1px;
  line-height: 1.125;
  margin: 0;
  max-width: 520px;
  opacity: 0;
}

.flower-svg {
  animation: fadeIn 0.5s var(--ease-out-cubic) forwards;
  opacity: 0;
}

.plugs {
  animation: fadeIn 1.4s var(--ease-out-cubic) forwards;
  left: 12px;
  opacity: 0;
  position: fixed;
  top: 12px;
}

.plugs-link {
  align-items: center;
  display: flex;
  opacity: 0.75;
  padding: 12px;
  text-decoration: none;
  transition: all 0.35s var(--ease-out-cubic);

  &:hover {
    opacity: 1;

    .plugs-name {
      opacity: 1;
      transform: none;
    }
  }
}

.plugs-name {
  color: white;
  font-size: 16px;
  margin-left: 12px;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 0.35s var(--ease-out-cubic);
}

.middle {
  height: 100vh;
  padding: 48px 0;

  &-wrapper {
    // align-items: center;
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 1280px;
    padding: 0 36px;
  }

  &-left,
  &-right {
    flex: 1;
  }

  &-right {
    // display: flex;
    // justify-content: flex-end;
  }

  &-heading {
    font-size: 36px;
    margin-bottom: 45px;
  }

  &-subheading {
    font-size: 36px;
    margin-bottom: 30px;
  }

  &-copy {
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.timeline-list {
  list-style-type: none;
  padding: 0;
}

.timeline-list-item {
  align-items: center;
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    .timeline-date::before {
      display: none;
    }
  }
}

.timeline-list-item:last-child {
  margin-bottom: 0;
}

.timeline-date {
  align-items: center;
  border: 2px solid white;
  display: flex;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  height: 22px;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding-top: 3px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 75px;

  &::before {
    content: "";
    position: absolute;
    top: 34px;
    height: 30px;
    width: 2px;
    background: white;
    left: calc(50% - 1px);
  }
}

.timeline-event {
  flex: 1;
  margin: 8px 0 0 22px;
}

.timeline-event a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.timeline-event a:hover {
  text-decoration: underline;
}

.link {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
