.nav {
  position: fixed;
  right: 36px;
  top: 36px;
  z-index: 5;

  &-link {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.25s var(--ease-out-cubic);

    &:hover {
      opacity: 0.75;
    }
  }
}
