.project {
  padding: 100px 0;

  &-wrapper {
    margin: auto;
    max-width: 1440px;
    padding: 0 60px;
  }

  &-header {
    margin-bottom: 24px;
  }

  &-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &-list {
    display: flex;
  }

  &-box {
    align-items: flex-end;
    border-radius: 8px;
    display: flex;
    flex: 1;
    height: 352px;
    margin-bottom: 64px;
    padding: 0 120px 60px;
    position: relative;

    &--last {
      margin-left: 64px;
    }

    &--sunset {
      background: linear-gradient(354.05deg, #ff6f6f 29.89%, #f9d749 100%);
    }

    &--cyan {
      background: linear-gradient(0deg, #69ffe4 0%, #9a19ff 100%);
    }

    &--redsky {
      background: linear-gradient(360deg, #7e51ff 0%, #f94949 100%);
    }
  }

  &-name {
    font-size: 36px;
    letter-spacing: -1px;
  }

  &-desc {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  &-gh {
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    left: 32px;
    width: 36px;
  }
}
