.project {
  padding: 100px 0;

  &-wrapper {
    margin: auto;
    max-width: 1440px;
    padding: 0 60px;
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &-title-text {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-link {
    color: white;
    margin-left: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-banner {
    align-items: flex-end;
    background: linear-gradient(96.23deg, #ff6f6f 0.11%, #f9d749 100%);
    border-radius: 12px 12px 0px 0px;
    display: flex;
    height: 304px;
    justify-content: center;
    margin-bottom: 94px;
  }

  &-write-up-wrapper {
    height: 200px;
    overflow: hidden;
    margin: auto;
    max-width: 960px;
    position: relative;
    transition: height 0.35s var(--ease-in-out-cubic);
  }

  &-write-up-overlay {
    background: linear-gradient(transparent, #040404);
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.35s var(--ease-in-out-cubic);
    width: 100%;
  }

  &-write-up {
    font-size: 22px;
    margin-bottom: 36px;
  }

  &-write-up-lead {
    font-family: "Josefin Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.25;
  }

  &-read-more {
    background: none;
    border: none;
    color: white;
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 48px auto 0;
    text-transform: uppercase;
    transition: opacity 0.25s var(--ease-in-out-cubic);
    width: 123px;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-top: 8px;
    }
  }
}
