.project {
  padding: 60px 0;

  &-wrapper {
    margin: auto;
    max-width: 1500px;
    padding: 0 30px;
  }

  &-header {
    margin-bottom: 24px;
  }

  &-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &-list {
    display: flex;
  }

  &-box {
    align-items: flex-end;
    border-radius: 8px;
    box-shadow: 0 2px 18px rgba(black, 0.2);
    display: flex;
    flex: 1;
    height: 352px;
    margin-bottom: 64px;
    overflow: hidden;
    padding: 0 60px 45px;
    position: relative;
    z-index: 1;

    &--last {
      margin-left: 64px;
    }

    &--sunset {
      background: linear-gradient(354.05deg, #ff6f6f 29.89%, #f9d749 100%);
    }

    &--cyan {
      background: linear-gradient(0deg, #69ffe4 0%, #9a19ff 100%);
    }

    &--redsky {
      background: linear-gradient(360deg, #7e51ff 0%, #f94949 100%);
    }

    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 86.46%
      );
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &-name {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.125;
  }

  &-desc {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  &-gh {
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 16px;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 30px;
    width: 36px;
  }

  &-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0 90px;
    transform: translateX(-50%);
    width: 100%;
    z-index: -2;

    svg {
      width: 100%;
    }
  }
}
