.projects {
  padding: 60px 0;

  &-header {
    margin-bottom: 18px;

    @include mq($from: desktop) {
      margin-bottom: 48px;
    }
  }

  &-box {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    transform: translateY(50%);
    transition: all 1s var(--ease-out-cubic);
    z-index: 1;

    &.js-scroll-animate {
      transform: none;

      &::after {
        transform: scaleY(0);
        visibility: hidden;
      }
    }

    @include mq($from: desktop) {
      height: 348px;
      margin-bottom: 180px;
    }

    &--reverse {
      flex-direction: row-reverse;

      .projects-img {
        margin-left: 0;
        margin-right: 84px;
      }
    }

    &--sunset {
      background: linear-gradient(354.05deg, #ff6f6f 29.89%, #f9d749 100%);
    }

    &--cyan {
      background: linear-gradient(0deg, #69ffe4 0%, #9a19ff 100%);
    }

    &--redsky {
      background: linear-gradient(360deg, #7e51ff 0%, #f94949 100%);
    }

    &::after {
      background: var(--background-color);
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform-origin: center bottom;
      transition: all 1s var(--ease-in-out-cubic);
      width: 100%;
      z-index: 2;
    }
  }

  &-info {
    flex: 1;
  }

  &-name {
    font-size: 24px;

    @include mq($from: desktop) {
      font-size: 40px;
      margin-bottom: 4px;
    }
  }

  &-desc {
    font-size: 16px;
    margin-bottom: 18px;

    @include mq($from: desktop) {
      font-size: 18px;
    }
  }

  &-tech-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 36px;

    &-item {
      background: rgba(white, 0.2);
      border-radius: 2px;
      font-size: 14px;
      font-weight: 700;
      margin-right: 12px;
      padding: 0 6px;
    }
  }

  &-img {
    border-radius: 10px;
    flex: 1;
    margin-left: 84px;
    padding: 30px;
  }

  &-gh {
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    @include mq($from: desktop) {
      height: 36px;
      width: 36px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    svg {
      height: 18px;
      width: 18px;
      transition: transform 0.25s var(--ease-out-cubic);
    }

    &:hover {
      svg {
        transform: scale(1.25) rotate(360deg);
      }
    }
  }
}
