.readit {
  flex: 1;
  max-height: 256px;
  padding: 30px;

  &-media {
    display: flex;
    margin-bottom: 30px;

    &-box {
      background: #c1bdfe;
      border-radius: 3px;
      height: 64px;
      width: 120px;
    }

    &-lines {
      flex: 1;
      margin-left: 30px;
    }

    &-headline,
    &-subline {
      background: rgba(black, 0.15);
      border-radius: 3px;
      height: 16px;
    }

    &-headline {
      width: 75%;
      margin-bottom: 12px;
    }

    &-subline {
      width: 30%;
    }
  }
}
