.teamwork {
  background: #0900c3;
  display: flex;
  flex: 1;
  height: 256px;

  &-sidebar {
    background: #04002f;
    height: auto;
    max-height: 256px;
    padding: 2vh 2vw;
    width: 10vw;

    @include mq($from: desktop) {
      padding: 4vh 1vw;
      width: 8vw;
    }

    &-line {
      background: rgba(white, 0.25);
      height: 4px;
      margin-bottom: 8px;

      @include mq($from: desktop) {
        height: 8px;
        margin-bottom: 12px;
      }

      &:nth-child(3) {
        margin-bottom: 30px;
        width: 75%;
      }

      &:nth-child(5) {
        width: 60%;
      }

      &:nth-child(6) {
        width: 60%;
      }
    }
  }

  &-main {
    flex: 1;
    padding: 2vh 2vw;

    @include mq($from: desktop) {
      padding: 4vh 4vw;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
  }

  &-item {
    align-items: center;
    background: rgba(black, 0.25);
    display: flex;
    height: 24px;
    margin: 0 8px 12px;
    padding: 0 6px;

    @include mq($from: desktop) {
      height: 80px;
      margin: 0 20px 30px;
      padding: 0 16px;
    }

    &-circle {
      background: rgba(white, 0.35);
      border-radius: 50%;
      height: 8px;
      width: 8px;

      @include mq($from: desktop) {
        height: 32px;
        width: 32px;
      }
    }
  }
}
