.work {
  min-height: 100vh;
  padding: 60px 0;

  &-wrapper {
    margin: auto;
    max-width: 1500px;
    padding: 0 30px;
  }

  &-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 120px;
    text-transform: uppercase;
  }

  &-group {
    border-bottom: 1px solid white;

    &-content {
      opacity: 0;
      overflow: hidden;
      transition: height 0.5s var(--ease-in-out-cubic),
        opacity 0.35s 0.15s var(--ease-out-cubic);

      &--open {
        opacity: 1;
      }
    }

    &-header {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      svg {
        opacity: 0.5;
        transition: opacity 0.5s var(--ease-out-cubic);
      }

      &:hover {
        svg {
          opacity: 1;
        }

        .work-group-name::before {
          transform: scaleX(1);
        }
      }
    }

    &-name {
      display: inline-block;
      font-size: 48px;
      letter-spacing: -1px;
      line-height: 1;
      padding: 24px 0;
      position: relative;

      &::before {
        background: white;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: scaleX(0);
        transition: transform 0.25s var(--ease-out-cubic);
        transform-origin: left center;
        width: 100%;
      }
    }

    &-date,
    &-role,
    &-tech {
      font-family: "Karla", sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 2px;
    }

    &-tech {
      margin-bottom: 18px;
    }

    &-desc {
      font-size: 18px;
      margin-bottom: 36px;
      max-width: 580px;
    }

    &-heading {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-highlights {
      list-style-type: disc;
      margin-left: 17px;
      max-width: 580px;
    }

    &-highlight {
      font-size: 18px;
      margin-bottom: 2px;
    }
  }
}
