.work {
  min-height: 100vh;
  padding: 60px 0;

  &-wrapper {
    margin: auto;
    max-width: 1500px;
    padding: 0 30px;
  }

  &-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 120px;
    text-transform: uppercase;
  }

  &-groups {
  }

  &-group {
    margin-bottom: 160px;

    &-name {
      font-size: 48px;
      line-height: 1;
      margin-bottom: 24px;
    }

    &-date,
    &-role,
    &-tech {
      font-family: "Karla", sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 2px;
    }

    &-tech {
      margin-bottom: 18px;
    }

    &-desc {
      font-size: 18px;
      margin-bottom: 24px;
      max-width: 580px;
    }

    &-heading {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-highlights {
      list-style-type: disc;
      margin-left: 17px;
      max-width: 580px;
    }

    &-highlight {
      font-size: 18px;
      margin-bottom: 2px;
    }
  }
}
