.about {
	min-height: 100vh;
	overflow: auto;

	&__content {
		background: darken(white, 3);
	}

	&__image,
	&__article {
		width: 100%;
	}

	&__image {
		height: 100vh;
		display: block;
		background: url('//unsplash.it/800/1000?image=63') center/cover;
	}

	&__article {
		display: flex;
		align-items: center;

		&-wrapper {
			margin: 0 auto;
			max-width: 700px;
			padding: ($space * 3);
			background:  white;
			position: relative;
			left: -$space* 3;
			// box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		h1 {
			margin-bottom: ($space / 1.5);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			line-height: 1.1;
		}

		p {
			margin-bottom: ($space);
		}
	}

	@media screen and (min-width: 760px) {

		&__content {
			display: flex;
			align-items: center;
		}
	}
}