.about {
	padding: ($space * 7) (0) ($space * 2);
	overflow: auto;

	&__heading {
		text-transform: uppercase;
		font-size: 3rem;
		letter-spacing: ($space / 10);
		margin: 0 0 $space;
		font-weight: 300;
		color: #1A0C26;
	}

	&__article {
		flex: 1;
	}

	&__article {
		flex: 2;
	}

	&__article {

		p {
			margin: 0 0 $space;
		}
	}

	@media (min-width: 600px) {
		padding: ($space * 12) (0) ($space * 2);

		&__article {

			p {
				font-size: 2rem;
			}
		}
	}
}