.about {
	padding: ($space * 2) (0);
	overflow: auto;

	&__image,
	&__article {
		width: 100%;
	}

	&__image {
		display: block;
		background: $red;
	}

	&__article {

		&-wrapper {
			margin: 0 auto;
			max-width: 800px;
			padding: (0) ($space);
		}

		h1 {
			margin-bottom: ($space);
			text-transform: uppercase;
			letter-spacing: ($space / 12);
			line-height: 1.15;
			font-size: $space;
		}

		p {
			margin-bottom: ($space);
		}
	}

	@media (min-width: 400px) {

	}

	@media screen and (min-width: 600px) {
		padding: ($space * 3) (0) ($space * 4);

		&__article {

			h1 {
				font-size: $space * 1.25;
				letter-spacing: ($space / 10);
			}

			p {
				font-size: 2rem;
			}
		}
	}
}