.home {
	@include clearfix;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: $theme-color-4 url('../img/wov.png');
	background-blend-mode: soft-light;

	&__wrapper {
		max-width: 800px;
		margin: 0 ($base-space * 3);
	}

	&__heading {
		margin: 0;
		font-size: ($base-space * 2.75);
		letter-spacing: (-$base-space / 12);
	}
}