.work {
	@include clearfix;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: $theme-color-3 url('../img/wov.png');
	background-blend-mode: overlay;

	&__heading {
		display: inline-block;
		margin: (0) (0) (0) ($base-space * 3);
		padding: ($base-space / 2) ($base-space * 1.5);
		font-size: map-get($heading-sizes, 5);
		text-transform: uppercase;
		letter-spacing: (-$base-space / 16);
		box-shadow: (-$base-space / 2.5) (-$base-space / 2.5) ($theme-color-1);
		background: $theme-color-4;
	}

	&__wrapper {
		@include clearfix;
	}

	&__list {
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;
		padding-top: ($base-space * 3);

		@media (min-height: 750px) {
			padding-top: 0;
		}
	}

	&__item {
		$p: &;
		$background-opacity: 0.8;
		display: flex;
		align-items: center;
		height: 50vh;
		padding: ($base-space * 3);
		@include ease();
		
		&:nth-child(1) {
			width: 60%;
			background: rgba($theme-color-1, $background-opacity);

			#{$p}-heading {
				color: $theme-color-4;
			}

			#{$p}-link {
				color: $theme-color-4;
				border: 4px solid $theme-color-4;
				box-shadow: 6px 6px $theme-color-4;

				&:hover {
					box-shadow: 0 0 $theme-color-4;
					background: $theme-color-4;
					color: $theme-color-1;
				}
			}
		}

		&:nth-child(2) {
			width: 40%;
			background: rgba($theme-color-3, $background-opacity);

			#{$p}-desc {
				color: color(white);
			}

			#{$p}-link {
				color: $theme-color-1;
				border: 4px solid $theme-color-1;
				box-shadow: 6px 6px $theme-color-1;

				&:hover {
					box-shadow: 0 0 $theme-color-1;
					background: $theme-color-1;
					color: $theme-color-4;
				}
			}
		}

		&:nth-child(3) {
			width: 50%;
			background: rgba($theme-color-2, $background-opacity);

			#{$p}-heading {
				color: $theme-color-4;
			}

			#{$p}-link {
				color: $theme-color-4;
				border: 4px solid $theme-color-4;
				box-shadow: 6px 6px $theme-color-4;

				&:hover {
					box-shadow: 0 0 $theme-color-4;
					background: $theme-color-4;
					color: $theme-color-1;
				}
			}
		}

		&:nth-child(4) {
			width: 50%;
			background: rgba($theme-color-4, $background-opacity);

			#{$p}-desc {
				color: color(white);
			}

			#{$p}-link {
				color: $theme-color-1;
				border: 4px solid $theme-color-1;
				box-shadow: 6px 6px $theme-color-1;

				&:hover {
					box-shadow: 0 0 $theme-color-1;
					background: $theme-color-1;
					color: $theme-color-4;
				}
			}
		}

		&-wrapper {
			max-width: 540px;
			margin: 0 auto;
		}

		&-heading {
			font-size: map-get($heading-sizes, 1);
			letter-spacing: (-$base-space / 12);
		}

		&-desc {
			font-size: map-get($heading-sizes, 5);
		}

		&-link {
			min-width: ($base-space * 5);
			margin-right: ($base-space / 2);
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			background: none;
			@include ease();
		}
	}
}