.work {
	@include clearfix;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	padding: ($base-space * 3) (0);
	background: $theme-color-2 url('../img/wov.png');
	background-blend-mode: overlay;

	> div {
		margin-bottom: auto;
	}

	&__heading {
		display: inline-block;
		margin: (0) (0) (0) ($base-space * 3);
		padding: ($base-space / 2) ($base-space * 1.5);
		font-size: map-get($heading-sizes, 5);
		text-transform: uppercase;
		letter-spacing: (-$base-space / 16);
		box-shadow: (-$base-space / 2.5) (-$base-space / 2.5) ($theme-color-1);
		background: $theme-color-4;
	}

	&__wrapper {
		@include clearfix;
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
	}

	&__list {
		display: flex;
		list-style-type: none;
	}

	&__item {
		$p: &;
		$size: 260px;
		width: $size;
		height: $size;
		position: relative;
		perspective: 1000;
		@include ease();
		
		&:nth-child(1) {

			#{$p}-front {
				background: rgba($theme-color-1, 0.9);
			}

			#{$p}-heading {
				color: $theme-color-4;
			}

			#{$p}-desc {
				color: lighten(black, 10);
			}
		}

		&:nth-child(2) {
			margin-top: calc(#{$size} - #{$base-space});
			margin-left: -$base-space;

			#{$p}-front {
				background: rgba($theme-color-2, 0.9);
			}

			#{$p}-heading {
				color: $theme-color-1;
			}

			#{$p}-desc {
				color: lighten(black, 10);
			}
		}

		&:nth-child(3) {
			margin-left: -$base-space;

			#{$p}-front {
				background: rgba($theme-color-3, 0.9);
			}

			#{$p}-heading {
				color: $theme-color-1;
			}

			#{$p}-desc {
				color: darken(white, 10);
			}
		}

		&:nth-child(4) {
			margin-top: calc(#{$size} - #{$base-space});
			margin-left: -$base-space;

			#{$p}-front {
				background: rgba(color(light-grey), 0.9);
			}

			#{$p}-heading {
				color: $theme-color-2;
			}

			#{$p}-desc {
				color: darken(black, 10);
			}
		}

		&-container {
			@include ease('out', .5);
			transform-style: preserve-3d;
			position: relative;
		}

		&-front,
		&-back {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: $size;
			height: $size;
		}

		&-front {
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: ($base-space) ($base-space * 1.25);
			@include shadow(1);
		}

		&-back {
			transform: rotateY(180deg);
			background: black;
			@include shadow(5);
		}

		&-heading {
			margin: 0;
			font-size: map-get($heading-sizes, 4);
			letter-spacing: (-$base-space / 18);
		}

		&:hover {
			z-index: 1;
			transform: scale(1.05);

			#{$p}-container {
				transform: rotateY(180deg);
			}
		}
	}
}